force-app/main/default/flows/Big_Opportunity_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_For_Field_Services</name>
        <label>Email For Field Services</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <actionName>Opportunity.Field_Service_Big_Opportunity_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_For_Field_Services_Other_Than_Safety_Kleen</name>
        <label>Email For Field Services Other Than Safety Kleen</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <actionName>Opportunity.Field_Service_Big_Opportunity_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_For_FS_TS_Cross_Sell</name>
        <label>Email For FS/ TS Cross Sell</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <actionName>Opportunity.FS_TS_Cross_Sell_Big_Opportunity_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Only_FS_with_Primary_Business_Safety_Kleen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Count_FS</name>
        <label>Assign Count FS</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>countFS</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Only_Field_Services</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Only_Technical_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_TS</name>
        <label>Assign Count TS</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>countTS</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Only_Technical_Services</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FS_TS_Primary_Business_Safety_Kleen</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Only_Field_Services</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Only Field Services</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNextValueToReference>currentItem_Only_Field_Services</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Opp_Line_Item</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Only_Field_Services.LOB_Business_Unit__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Field Services</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Count_FS</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Only_Technical_Services</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Only Technical Services</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_Only_Technical_Services_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Opp_Line_Item</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Only_Technical_Services_0.LOB_Business_Unit__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Technical Services</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Count_TS</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>FS_TS_Primary_Business_Safety_Kleen</name>
        <label>FS / TS Primary Business Safety Kleen</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>FS_with_Primary_Business_other_than_Safety_kleen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Safety_Kleen</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Primary_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safety-Kleen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>countFS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>countTS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_For_FS_TS_Cross_Sell</targetReference>
            </connector>
            <label>If Safety Kleen</label>
        </rules>
    </decisions>
    <decisions>
        <name>FS_with_Primary_Business_other_than_Safety_kleen</name>
        <label>FS with Primary Business other than Safety kleen</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FS_with_PB_not_as_Safety_Kleen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Primary_Business__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Safety-Kleen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>countFS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_For_Field_Services_Other_Than_Safety_Kleen</targetReference>
            </connector>
            <label>FS with PB not as Safety Kleen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Only_FS_with_Primary_Business_Safety_Kleen</name>
        <label>Only FS with Primary Business Safety Kleen</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Only_FS_with_Safety_Kleen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Primary_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safety-Kleen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>countFS</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_For_Field_Services</targetReference>
            </connector>
            <label>Only FS with Safety Kleen</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Big Opportunity Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Big Opportunity Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Opp_Line_Item</name>
        <label>Get All Opp Line Item</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Only_Field_Services</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Opp_Line_Item</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>200000.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countFS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countTS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Only_Field_Services</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Only_Technical_Services_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
