force-app/main/default/flows/CAMP_Umbrella_MAIN_Contact_Issues.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Primary</name>
        <label>Chatter Primary</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>ThankYouPrimary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PrimaryChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Contact_Account.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Secondary</name>
        <label>Chatter Secondary</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>ThankYouSecondary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>SecondaryChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Contact_Account.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>OutreachPrimary</name>
        <choiceText>Contact Account Owner to verify contact.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>OutreachSecondary</name>
        <choiceText>Contact Secondary Account Owner to verify contact.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Verify_Contact</name>
        <choiceText>Verify Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verify Contact</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action_Choice</name>
        <label>Action Choice</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ActionSelection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_Contact</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AreYouSureVerify</targetReference>
            </connector>
            <label>Verify</label>
        </rules>
        <rules>
            <name>Outreach_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutreachPrimary</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AreYouSurePrimary</targetReference>
            </connector>
            <label>Outreach Primary</label>
        </rules>
        <rules>
            <name>Outreach_Secondary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutreachSecondary</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AreYouSureSecondary</targetReference>
            </connector>
            <label>Outreach Secondary</label>
        </rules>
    </decisions>
    <description>Removed items from Get Records for Contact (efficiency)</description>
    <environments>Default</environments>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CAMP: Umbrella MAIN Contact Issues {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMP: Umbrella MAIN Contact Issues</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Account</name>
        <label>Get Contact Account</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActionSelection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Selected_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Corp_Account_MAIN_Contacts_with_Compliance_Issues</name>
        <label>Get Corp Account MAIN Contacts with Compliance Issues</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MAINContactScreen</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>Corp_Key_Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurAccountID.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_Contains_MAIN__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Days_Since_Last_MAIN_Verification__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Days_Since_Last_MAIN_Verification__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Days_Since_Last_MAIN_Verification__c</queriedFields>
        <queriedFields>Account_Owner_Name__c</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>WIN_ID__c</queriedFields>
        <sortField>Days_Since_Last_MAIN_Verification__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Contact</name>
        <label>Get Selected Contact</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MAINContactTable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Verification</name>
        <label>Update Verification</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>ThankYouVerification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Main_Contact_Verified_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ActionSelection</name>
        <label>ActionSelection</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action_Choice</targetReference>
        </connector>
        <fields>
            <name>WhatToDo</name>
            <choiceReferences>Verify_Contact</choiceReferences>
            <choiceReferences>OutreachPrimary</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do with this contact?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AreYouSurePrimary</name>
        <label>AreYouSurePrimary</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Chatter_Primary</targetReference>
        </connector>
        <fields>
            <name>AreYouSurePrimaryText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You are about to send a chatter message to {!Get_Contact_Account.Account_Owner_Name__c}, requesting that they confirm the validity of this main contact.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Are you sure you want to proceed?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AreYouSureSecondary</name>
        <label>AreYouSureSecondary</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Chatter_Secondary</targetReference>
        </connector>
        <fields>
            <name>AreYouSureSecondaryText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You are about to send a chatter message to {!Get_Contact_Account.Secondary_Owner__r.Name}, requesting that they confirm the validity of this main contact.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Are you sure you want to proceed?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AreYouSureVerify</name>
        <label>AreYouSureVerify</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Verification</targetReference>
        </connector>
        <fields>
            <name>AreYouSureText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Are you sure you want to verify this MAIN contact manually? Clicking &quot;Next&quot; will update the field &quot;Main Contact Verified Date&quot; on {!Get_Contact_Account.WIN_ID__c} to today. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MAINContactScreen</name>
        <label>MAINContactScreen</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_Contact</targetReference>
        </connector>
        <fields>
            <name>MAINContactTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Corp_Account_MAIN_Contacts_with_Compliance_Issues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9e8d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-d8c4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;WIN_ID__c&quot;,&quot;guid&quot;:&quot;column-e796&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;WIN ID&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Account_Owner_Name__c&quot;,&quot;guid&quot;:&quot;column-605f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Account Owner Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Days_Since_Last_MAIN_Verification__c&quot;,&quot;guid&quot;:&quot;column-cf43&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Days Since Last MAIN Verification&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ThankYouPrimary</name>
        <label>ThankYouPrimary</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Corp_Account_MAIN_Contacts_with_Compliance_Issues</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ThankYouVerText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you! A chatter message has been sent to {!Get_Contact_Account.Account_Owner_Name__c}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿Click the button below to return to the list of MAIN Contacts out of compliance at this Corp/Key account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ThankYouSecondary</name>
        <label>ThankYouSecondary</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Corp_Account_MAIN_Contacts_with_Compliance_Issues</targetReference>
        </connector>
        <fields>
            <name>ThankYouVerTextSecondary</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you! A chatter message has been sent to {!Get_Contact_Account.Secondary_Owner__r.Name}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿Click the button below to return to the list of MAIN Contacts out of compliance at this Corp/Key account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ThankYouVerification</name>
        <label>ThankYouVerification</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Corp_Account_MAIN_Contacts_with_Compliance_Issues</targetReference>
        </connector>
        <fields>
            <name>ThankYouVerText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you! WIN ID {!Get_Contact_Account.WIN_ID__c} now shows that the MAIN Contact was verified on {!TODAY}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿Click the button below to return to the list of MAIN Contacts out of compliance at this Corp/Key account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Corp_Account_MAIN_Contacts_with_Compliance_Issues</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PrimaryChatterMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi @[{!Get_Contact_Account.Owner.Id}], hope all is well.

I was reviewing this account, and its main contact came up as {!Get_Contact_Account.Days_Since_Main_Contact_Verified__c} since its last verification. When possible, can you confirm that {!Get_Selected_Contact.Name} is still the right MAIN contact for {!Get_Contact_Account.WIN_ID__c}? Thanks!

This message is generated by the CAMP system, at the senders request. To reply to the sender directly, &quot;@&quot; the user&apos;s name in your reply and they will be notified.</text>
    </textTemplates>
    <textTemplates>
        <name>SecondaryChatterMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi @[{!Get_Contact_Account.Secondary_Owner__c}], hope all is well.

I was reviewing this account, and its main contact came up as {!Get_Contact_Account.Days_Since_Main_Contact_Verified__c} since its last verification. When possible, can you confirm that {!Get_Selected_Contact.Name} is still the right MAIN contact for {!Get_Contact_Account.WIN_ID__c}? Thanks!

This message is generated by the CAMP system, at the senders request. To reply to the sender directly, &quot;@&quot; the user&apos;s name in your reply and they will be notified.</text>
    </textTemplates>
    <variables>
        <name>CurAccountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
