force-app/main/default/flows/CAMP_Top_10_Account_Customer_Revenue_By_Location.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Top_Accounts_By_Location</name>
        <label>Get Top Accounts By Location</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>TopAccounts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Wrapper_Object</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accounts</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CAMWrapper</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CAMCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Metadata</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Wrapper_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Metadata_Record</name>
        <label>Create Metadata Record</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Metadata.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Wrapper_Object.amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Metadata.ShippingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Wrapper_Object.shippingCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
    </assignments>
    <description>Account level Top 10.</description>
    <environments>Default</environments>
    <interviewLabel>CAMP: Top 10 Account Customer Revenue By Location {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMP: Top 10 Account Customer Revenue By Location</label>
    <loops>
        <name>Loop_Wrapper_Object</name>
        <label>Loop Wrapper Object</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>CAMWrapper</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Metadata_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Location</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Location</name>
        <label>Location</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowTopAmountByLocation</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>CAM_Metadata__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Top 10 Current Year Customer Revenue By City</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CAMCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;ShippingCity__c&quot;,&quot;guid&quot;:&quot;column-69db&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Corporate City&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;ShippingCity&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-7e27&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Total Customer Revenue&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Top_Accounts_By_Location</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CAMCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CAM_Metadata__mdt</objectType>
    </variables>
    <variables>
        <name>CAMWrapper</name>
        <apexClass>WrapperForCAM</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Metadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CAM_Metadata__mdt</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
