force-app/main/default/flows/Case_Update_the_Reviewer_on_Child_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_cases_to_the_collection</name>
        <label>Add cases to the collection</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>CaseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_case_record</name>
        <label>Assign case record</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>SingleCase.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateOverCases.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.MDM_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MDM_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateOverCases.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_cases_to_the_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Child_is_Not_Null</name>
        <label>Check Child is Not Null</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_child_case_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Child_case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOverCases</targetReference>
            </connector>
            <label>Check child case is not null</label>
        </rules>
    </decisions>
    <description>This flow is used to update the Reviewer field on Child case. When Reviewer on Parent case updated then same value populate on Child case.</description>
    <environments>Default</environments>
    <interviewLabel>Case - Update the Reviewer on Child Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Update the Reviewer on Child Case</label>
    <loops>
        <name>IterateOverCases</name>
        <label>IterateOverCases</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_the_Child_case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_case_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_child</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Case_Record_Type</name>
        <label>Get Child Case Record Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Child_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field_Change_Request</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>VarCaseRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Child_case</name>
        <label>Get the Child case</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Child_is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_child</name>
        <label>Update the child</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>CaseCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Case_Record_Type</targetReference>
        </connector>
        <filterFormula>AND({!$Record.RecordType.Name}=&quot;Account Update Validations&quot;,
NOT(ISNULL({!$Record.MDM_Approver__c})))</filterFormula> 
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SingleCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VarCaseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
