force-app/main/default/flows/Case_CPG_Status_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_Required_Notifcation</name>
        <label>Action Required Notifcation</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Owner:User.Email},{!$Record.CPG_Owner__r.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ActionRequiredSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ActionRequireBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>SkipProfiles</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$User.ProfileId} =&apos;00ej0000000vlsU&apos;, {!$User.ProfileId} = &apos;00ej0000001AfEf&apos; , {!$User.ProfileId} = &apos;00ej0000001Mfgi&apos;,{!$User.ProfileId} = &apos;00e4Q000001snUm&apos;)</expression>
    </formulas>
    <formulas>
        <name>URLLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_470}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_470}))</expression>
    </formulas>
    <interviewLabel>Case CPG Status Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case CPG Status Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Sales_Complete_capture_Field</name>
        <label>Update Sales Complete capture Field</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Complete</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Completed_Date_Capture__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_field_to_Action_Required</name>
        <label>Update Status field to Action Required</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Action_Required_Notifcation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Complete</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Action Required</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Sales_Complete_capture_Field</targetReference>
        </connector>
        <filterFormula>AND({!$Record.RecordType.Name} = &apos;CPG Request&apos;, ISPICKVAL({!$Record.Status}, &apos;Sales Complete&apos;))</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Update_the_status_field_after_48_hours</name>
            <connector>
                <targetReference>Update_Status_field_to_Action_Required</targetReference>
            </connector>
            <label>Update the status field after 48 hours</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Sales_Completed_Date_Capture__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ActionRequireBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello, this Case {!$Record.CaseNumber} has been marked as &quot;Action Required&quot;. Please review the case and take the required action.
{!URLLink}/{!$Record.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>ActionRequiredSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case Requires Action</text>
    </textTemplates>
</Flow>
