force-app/main/default/flows/Corp_Account_Umbrella.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <collectionProcessors>
        <name>Sort_Contacts</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Contacts</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Non_Expired_Contacts_At_Account</collectionReference>
        <connector>
            <targetReference>AccountBriefScreen</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Type_Contains_MAIN__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Type_Contains_PO__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Type_Contains_AP__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <description>Updated Second Screen</description>
    <environments>Default</environments>
    <interviewLabel>Corp Account Umbrella {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMP: Umbrella Accounts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_TSEs_At_Account</name>
        <label>Get All TSEs At Account</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Non_Expired_Contacts_At_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CorpAccountUmbrella.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Technical_Sales_Expert__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Technical_Sales_Expert_name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Effective_dt__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Corp_Account_Umbrella</name>
        <label>Get Corp Account Umbrella</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Corp_Account_Umbrella</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key_Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentAccountID.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WIN_ID_Type__c</queriedFields>
        <queriedFields>Account_Name_Hyperlink__c</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Cycle__c</queriedFields>
        <queriedFields>Hierarchy_Sorting__c</queriedFields>
        <queriedFields>Account_Owner_Name__c</queriedFields>
        <queriedFields>Primary_Business__c</queriedFields>
        <sortField>Hierarchy_Sorting__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Expired_Contacts_At_Account</name>
        <label>Get Non-Expired Contacts At Account</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Contacts</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CorpAccountUmbrella.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Contact_Type__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Type_Contains_MAIN__c</queriedFields>
        <queriedFields>Type_Contains_AP__c</queriedFields>
        <queriedFields>Type_Contains_PO__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Account</name>
        <label>Get Selected Account</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_TSEs_At_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CorpAccountUmbrella.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AccountBriefScreen</name>
        <label>AccountBriefScreen</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AtAGlance</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Selected_Account.Name} ({!Get_Selected_Account.WIN_ID__c}), at a glance.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountDetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Account Details&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountBriefScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AccountBriefScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NameText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Account Name:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Get_Selected_Account.Account_Name_Hyperlink__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountBriefScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PSPText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Primary Service Provider:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Get_Selected_Account.Primary_Business__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountBriefScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OwnerText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Account Owner:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Get_Selected_Account.Account_Owner_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountBriefScreen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TypeText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Type:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Get_Selected_Account.Type}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AccountBriefScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AccountBriefScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustParentText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Parent WIN ID:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Get_Selected_Account.Parent_WIN_ID__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountBriefScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustCreditText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Customer Credit Status:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Get_Selected_Account.Credit_Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountBriefScreen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustCurrentYearRev</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Current Year Customer Revenue:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Get_Selected_Account.Current_Year_Customer_Revenue__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountBriefScreen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustPreviousYearRev</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Previous Year Customer Revenue:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Get_Selected_Account.Previous_Year_Customer_Revenue__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Selected_Account.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Customer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AccountBriefScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AccountBriefScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GenParentText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Customer WIN ID:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Get_Selected_Account.Parent_WIN_ID__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountBriefScreen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GenCreditText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;ShipTo/Gen Credit Status:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Get_Selected_Account.Bill_To_Credit_Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountBriefScreen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GenCurrentYearRevText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Current Year Location Revenue:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Get_Selected_Account.Current_Year_Location_Revenue__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountBriefScreen_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GenPreviousYearRev</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Previous Year Location Revenue:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Get_Selected_Account.Previous_Year_Location_Revenue__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Selected_Account.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ShipTo/Gen</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MAINPOAPContactsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contacts at This Account (MAIN, AP, PO First)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Non_Expired_Contacts_At_Account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6d7b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Contact_Type__c&quot;,&quot;guid&quot;:&quot;column-1375&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Contact Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-c330&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Phone&quot;,&quot;guid&quot;:&quot;column-8fc0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Business Phone&quot;,&quot;type&quot;:&quot;phone&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TSETable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Technical_Sales_Expert__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>TSEs at This Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_TSEs_At_Account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Technical_Sales_Expert_name__c&quot;,&quot;guid&quot;:&quot;column-4804&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Support TSE Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b930&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;WIN ID - LOB&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;SF_TSE_ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Effective_dt__c&quot;,&quot;guid&quot;:&quot;column-5250&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Effective Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Corp_Account_Umbrella</name>
        <label>Corp Account Umbrella</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_Account</targetReference>
        </connector>
        <fields>
            <name>CorpAccountUmbrella</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Accounts Under Corporate Umbrella</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Corp_Account_Umbrella</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Account_Name_Hyperlink__c&quot;,&quot;guid&quot;:&quot;column-f931&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name Hyperlink&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Account_Owner_Name__c&quot;,&quot;guid&quot;:&quot;column-a7a5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Owner&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account Owner Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;WIN_ID_Type__c&quot;,&quot;guid&quot;:&quot;column-3579&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;WIN ID - Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Primary_Business__c&quot;,&quot;guid&quot;:&quot;column-b52a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Primary Service Provider&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ShippingCity&quot;,&quot;guid&quot;:&quot;column-664f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Corporate City&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Cycle__c&quot;,&quot;guid&quot;:&quot;column-9d8d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Cycle&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Corp_Account_Umbrella</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentAccountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
