force-app/main/default/flows/Display_Total_Corp_Account_Pipeline.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Up_Amount_of_Open_Opps</name>
        <label>Add Up Amount of Open Opps</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>VarOppSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_Amount_of_Open_Opps.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Amount_of_Open_Opps</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Display Total Corp Account Pipeline {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Total Corp Account Pipeline</label>
    <loops>
        <name>Collect_Amount_of_Open_Opps</name>
        <label>Collect Amount of Open Opps</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_All_Opportunities_at_Corp_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Up_Amount_of_Open_Opps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Total_Pipeline_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Opportunities_at_Corp_Account</name>
        <label>Get All Opportunities at Corp Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Amount_of_Open_Opps</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Key_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2 - Pursuing</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3 - Quoted</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4 - Negotiating</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5 - Verbal Award</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6 - Pending Services</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Total_Pipeline_Screen</name>
        <label>Total Pipeline Screen</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TotalPipeline</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Total Pipeline (Excludes Stage 1 - Prospecting):&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!VarOppSum}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Opportunities_at_Corp_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarAccountID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>VarOppSum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
