force-app/main/default/flows/Duplicate_Account_Tracking_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AddMatchingtoList</name>
        <label>AddMatchingtoList</label>
        <locationX>264</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>accountRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>accountRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughMatchingAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddtoList</name>
        <label>AddtoList</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>accountRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>accountRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Variables</name>
        <label>Assign Account Variables</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughAccounts.Matched_Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.WIN_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughAccounts.Matched_Account__r.WIN_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.Satis_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughAccounts.Reason_for_matching__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughAccounts.Matched_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.Refund_To_Address_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CorporateAddressFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.DEA_Address_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountShippingAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matched_Account_Variables</name>
        <label>Assign Matched Account Variables</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughMatchingAccounts.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.WIN_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughMatchingAccounts.Account__r.WIN_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.Satis_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughMatchingAccounts.Reason_for_matching__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughMatchingAccounts.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.Refund_To_Address_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingAccountShippingAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.DEA_Address_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MatchingCorporateAddressFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_counter</name>
        <label>Copy 1 of counter</label>
        <locationX>264</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddMatchingtoList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>counter</name>
        <label>counter</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtoList</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>AccountShippingAddress</name>
        <dataType>String</dataType>
        <expression>{!LoopThroughAccounts.Account__r.ShippingStreet}+&apos; &apos;+ {!LoopThroughAccounts.Account__r.ShippingCity} 
+&apos; &apos;+ {!LoopThroughAccounts.Account__r.ShippingState} +&apos; &apos;+ {!LoopThroughAccounts.Account__r.ShippingPostalCode} 
+&apos; &apos;+ {!LoopThroughAccounts.Account__r.ShippingCountry}</expression>
    </formulas>
    <formulas>
        <name>CorporateAddressFormula</name>
        <dataType>String</dataType>
        <expression>{!LoopThroughAccounts.Matched_Account__r.ShippingStreet}+&apos; &apos;+ {!LoopThroughAccounts.Matched_Account__r.ShippingCity} 
+&apos; &apos;+ {!LoopThroughAccounts.Matched_Account__r.ShippingState} +&apos; &apos;+ {!LoopThroughAccounts.Matched_Account__r.ShippingPostalCode} 
+&apos; &apos;+ {!LoopThroughAccounts.Matched_Account__r.ShippingCountry}</expression>
    </formulas>
    <formulas>
        <name>MatchingAccountShippingAddress</name>
        <dataType>String</dataType>
        <expression>{!LoopThroughMatchingAccounts.Account__r.ShippingStreet}+&apos; &apos;+ {!LoopThroughMatchingAccounts.Account__r.ShippingCity} 
+&apos; &apos;+ {!LoopThroughMatchingAccounts.Account__r.ShippingState} +&apos; &apos;+ {!LoopThroughMatchingAccounts.Account__r.ShippingPostalCode} 
+&apos; &apos;+ {!LoopThroughMatchingAccounts.Account__r.ShippingCountry}</expression>
    </formulas>
    <formulas>
        <name>MatchingCorporateAddressFormula</name>
        <dataType>String</dataType>
        <expression>{!LoopThroughMatchingAccounts.Matched_Account__r.ShippingStreet}+&apos; &apos;+ {!LoopThroughMatchingAccounts.Matched_Account__r.ShippingCity} 
+&apos; &apos;+ {!LoopThroughMatchingAccounts.Matched_Account__r.ShippingState} +&apos; &apos;+ {!LoopThroughMatchingAccounts.Matched_Account__r.ShippingPostalCode} 
+&apos; &apos;+ {!LoopThroughMatchingAccounts.Matched_Account__r.ShippingCountry}</expression>
    </formulas>
    <interviewLabel>Duplicate Account Tracking List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duplicate Account Tracking List</label>
    <loops>
        <name>LoopThroughAccounts</name>
        <label>LoopThroughAccounts</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>AccountRecordsGet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopThroughMatchingAccounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughMatchingAccounts</name>
        <label>LoopThroughMatchingAccounts</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <collectionReference>MatchingRecordsGet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Matched_Account_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Duplicate_DT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>AccountRecordsGet</name>
        <label>AccountRecordsGet</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MatchingRecordsGet</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Duplicate_Account_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MatchingRecordsGet</name>
        <label>MatchingRecordsGet</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Matched_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Duplicate_Account_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Duplicate Accounts</description>
        <name>Duplicate_DT</name>
        <label>Duplicate Accounts</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DDT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>accountRecordCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-5640&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Matching Account Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;WIN_ID__c&quot;,&quot;guid&quot;:&quot;column-d73e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Matching Account Win Id&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;WIN ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;DEA_Address_ID__c&quot;,&quot;guid&quot;:&quot;column-1652&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Account Address&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;DEA Address ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Refund_To_Address_ID__c&quot;,&quot;guid&quot;:&quot;column-4ea5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Matching Account Address&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Refund To Address ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Satis_Comments__c&quot;,&quot;guid&quot;:&quot;column-aebe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Reason for matching?&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Customer Comments&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AccountRecordsGet</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>001j000000eazBBAAY</stringValue>
        </value>
    </variables>
</Flow>
