force-app/main/default/flows/Fire_Case_Comments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Status_to_In_Progress</name>
        <label>Set Status to In Progress</label>
        <locationX>50</locationX> 
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Status_and_Record_Type</name>
        <label>Check Case Status and Record Type</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Create_Case_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Case_Status_Is_New</name>
            <conditionLogic>(1 OR 2) AND  3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collector Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Non Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_to_In_Progress</targetReference>
            </connector>
            <label>If Case Status Is New and matches record types</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Url</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_340, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_340)) &amp; {!$Record.ParentId}</expression>
    </formulas>
    <interviewLabel>Fire Case Comments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fire Case Comments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Event</name>
        <label>Create Case Event</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>CaseNumber__c</field>
            <value>
                <elementReference>$Record.Parent.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Record_Type__c</field>
            <value>
                <elementReference>$Record.Parent.RecordType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>$Record.Parent.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommentBody__c</field>
            <value>
                <elementReference>$Record.CommentBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedBy__c</field>
            <value>
                <elementReference>$Record.LastModifiedBy.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id__c</field>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Keyword2__c</field>
            <value>
                <elementReference>$Record.Parent.Keyword_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastModifiedBy__c</field>
            <value>
                <elementReference>$Record.LastModifiedBy.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OracleInvoiceNumbers__c</field>
            <value>
                <elementReference>$Record.Parent.REFERENCES__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Url__c</field>
            <value>
                <elementReference>Url</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WinId__c</field>
            <value>
                <elementReference>$Record.Parent.WIN_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WinInvoiceNumbers__c</field>
            <value>
                <elementReference>$Record.Parent.Invoice_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>CaseEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Case_to_In_Progress</name>
        <label>Update Case to In Progress</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Set_Status_to_In_Progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Disable_Event_Firing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Case_Status_and_Record_Type</targetReference>
        </connector>
        <filterFormula>OR({!$Record.Parent.RecordType.DeveloperName}=&apos;Collector_PO_Case&apos;,{!$Record.Parent.RecordType.DeveloperName}=&apos;Non_Standard_Billing_WIN&apos;,{!$Record.Parent.RecordType.DeveloperName}=&apos;Non_Standard_Billing_Closed_Order&apos;)</filterFormula>
        <object>CaseComment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Parent.Status</elementReference>
        </value>
    </variables>
</Flow>
