force-app/main/default/flows/Fire_Case_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Disable_Firing_checkbox</name>
        <label>Check  Disable Firing checkbox</label> 
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Create_Case_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disable_Event_Firing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Disable_Firing</targetReference>
            </connector>
            <label>If Checked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Case Absolute Url</description>
        <name>Url</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_340, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_340)) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Fire Case Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fire Case Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Event</name>
        <label>Create Case Event</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>CaseNumber__c</field>
            <value>
                <elementReference>$Record.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Record_Type__c</field>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedBy__c</field>
            <value>
                <elementReference>$Record.LastModifiedBy.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Keyword2__c</field>
            <value>
                <elementReference>$Record.Keyword_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastModifiedBy__c</field>
            <value>
                <elementReference>$Record.LastModifiedBy.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OracleInvoiceNumbers__c</field>
            <value>
                <elementReference>$Record.REFERENCES__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Url__c</field>
            <value>
                <elementReference>Url</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WinId__c</field>
            <value>
                <elementReference>$Record.WIN_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WinInvoiceNumbers__c</field>
            <value>
                <elementReference>$Record.Invoice_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>CaseEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Reset_Disable_Firing</name>
        <label>Reset Disable Firing</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Disable_Event_Firing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Disable_Firing_checkbox</targetReference>
        </connector>
        <filterFormula>OR(AND(OR({!$Record.RecordType.DeveloperName}=&apos;Non_Standard_Billing_WIN&apos;,{!$Record.RecordType.DeveloperName}=&apos;Non_Standard_Billing_Closed_Order&apos;),OR(ISNEW(),ISCHANGED({!$Record.Status}))), AND({!$Record.RecordType.DeveloperName}=&apos;Collector_PO_Case&apos;,ISCHANGED({!$Record.Status})))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
