force-app/main/default/flows/Flag_Active_ER_Contract_On_Account_If_Active_Contract_Exists.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>checkAccRecordType</name>
        <label>checkAccRecordType</label>
        <locationX>611</locationX>
        <locationY>684</locationY>  
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Level1_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Location</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker_Location</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Level1_AccountFlag</targetReference>
            </connector>
            <label>check Level1 Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfNotExpired</name>
        <label>checkIfNotExpired</label>
        <locationX>1359</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifStatusisNotExpired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusToExpired</targetReference>
            </connector>
            <label>ifStatusisNotExpired</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_New_Contract_or_Contract_Update</name>
        <label>if New Contract or Contract Update</label>
        <locationX>611</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_New_Contract</name>
            <conditionLogic>(1 AND 3) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkAccRecordType</targetReference>
            </connector>
            <label>if New Contract</label>
        </rules>
        <rules>
            <name>if_Account_Changed_on_Active_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Old_Account_Record</targetReference>
            </connector>
            <label>if Account Changed on Active Contract</label>
        </rules>
        <rules>
            <name>if_Contract_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expired_Contract_Account_Record</targetReference>
            </connector>
            <label>if Contract Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Parent_Account_Exists_level2</name>
        <label>if Parent Account Exists level2</label>
        <locationX>380</locationX>
        <locationY>900</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Level2_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Level_2_ParentFlag_to_True</targetReference>
            </connector>
            <label>If Level2 Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Parent_Account_Exists_level3</name>
        <label>if Parent Account Exists level3</label>
        <locationX>182</locationX>
        <locationY>1116</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Level3_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Level_3_ParentFlag_to_True</targetReference>
            </connector>
            <label>If Level3 Account Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Update Active ER Contract on Account if Active Contract Exists {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flag Active ER Contract on Account if Active Contract Exists</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_Level1_AccountFlag</name>
        <label>update Level1 AccountFlag</label>
        <locationX>380</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>if_Parent_Account_Exists_level2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_ER_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_ER_Contract__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Level_2_ParentFlag_to_True</name>
        <label>update Level 2 ParentFlag to True</label>
        <locationX>182</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>if_Parent_Account_Exists_level3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_ER_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_ER_Contract__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Level_3_ParentFlag_to_True</name>
        <label>update Level 3 ParentFlag to True</label>
        <locationX>50</locationX>
        <locationY>1224</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_ER_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_ER_Contract__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account.Parent.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatusToExpired</name>
        <label>UpdateStatusToExpired</label>
        <locationX>1227</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>859</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>if_New_Contract_or_Contract_Update</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Job_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ER</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>checkAfterOnedayExpiratedDate</name>
            <connector>
                <targetReference>checkIfNotExpired</targetReference>
            </connector>
            <label>checkAfterOnedayExpiratedDate</label>
            <maxBatchSize>50</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>EndDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Expired_Contract_Account_Record</name>
        <label>Expired Contract Account Record</label>
        <locationX>699</locationX>
        <locationY>384</locationY>
        <flowName>Update_Old_Or_Expired_Contracts_Account_Flag</flowName>
        <inputAssignments>
            <name>AccountRecordId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Old_Account_Record</name>
        <label>Old Account Record</label>
        <locationX>435</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>checkAccRecordType</targetReference>
        </connector>
        <flowName>Update_Old_Or_Expired_Contracts_Account_Flag</flowName>
        <inputAssignments>
            <name>AccountRecordId</name>
            <value>
                <elementReference>$Record__Prior.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varActiveContractCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
