force-app/main/default/flows/HR_Talent_Pool_Contact_Acct_Prospect.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Set_Acct_Prospect</name>
        <label>Set Acct Prospect</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>OrganizationOwnersServiceHandler</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__relatedList</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>relatedList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>HRRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HR Talent Pools</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_HR_talent_pool_Record</name>
        <label>Check HR talent pool Record</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Org_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HRRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Acct_Prospect</targetReference>
            </connector>
            <label>Set Org Status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HR Talent Pool - Contact Acct Prospect {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HR Talent Pool - Contact Acct Prospect</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_HR_talent_pool_Record</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
