force-app/main/default/flows/HR_Talent_Pool_Dept_Org_Acct_Prospect.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Set_org_To_prospect</name>
        <label>Set org To prospect</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>OrganizationOwnersServiceHandler</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__relatedList</typeName>
            <typeValue>Organization_Department__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>relatedList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Org_Dept_HR_talent_Pool</name>
        <label>Check Org Dept HR talent Pool</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Org_Set_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Organization__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HRtalentPool</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_org_To_prospect</targetReference>
            </connector>
            <label>Org Set Prospect</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HR Talent Pool - Dept Org Acct Prospect {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HR Talent Pool - Dept Org Acct Prospect</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Org_Dept_HR_talent_Pool</targetReference>
        </connector>
        <object>Organization_Department__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>HRtalentPool</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>HR Recruiting Partners</stringValue>
        </value>
    </variables>
</Flow>
