force-app/main/default/flows/Leader_Demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Count_All_Current_Year_Opps</name>
        <label>Count All Current Year Opps</label>
        <locationX>1238</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AllOppsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Opp_Won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Won_Opps</name>
        <label>Count Won Opps</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>WonOppsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Current_Year_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Budget</name>
        <label>Sum Budget</label>
        <locationX>1106</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>CYBudget</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_CY_Budget_Records.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CY_Budget_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_CAM_Metrics</name>
        <label>Sum CAM Metrics</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CAMPipelineSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_CY_CAM_Metrcis.Corp_Key_Account_Pipeline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CAMRevenueSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_CY_CAM_Metrcis.Current_Year_Corp_Key_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CAMBudgetSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_CY_CAM_Metrcis.Current_Year_Corp_Key_Budget__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CY_CAM_Metrcis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Pipeline</name>
        <label>Sum Pipeline</label>
        <locationX>1106</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>CurrentPipelineSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Current_Pipeline.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Current_Pipeline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Revenue</name>
        <label>Sum Revenue</label>
        <locationX>1370</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>CYRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_CY_Budget_Records.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CY_Budget_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Budget_or_Revenue_Record</name>
        <label>Budget or Revenue Record?</label>
        <locationX>1238</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Sum_Revenue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Revenue or Other</defaultConnectorLabel>
        <rules>
            <name>Budget</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_CY_Budget_Records.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Budget</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sum_Budget</targetReference>
            </connector>
            <label>Budget</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opp_Won</name>
        <label>Is Opp Won?</label>
        <locationX>1238</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Loop_Current_Year_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Won</defaultConnectorLabel>
        <rules>
            <name>Opp_is_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Current_Year_Opportunities.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7 - Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Won_Opps</targetReference>
            </connector>
            <label>Opp is Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_a_CAM_or_RGSP</name>
        <label>Is User a CAM or RGSP?</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Users_Largest_Win</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RGSP</defaultConnectorLabel>
        <rules>
            <name>User_Isn_t_Under_Leadership_Umbrella</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarUserID.Running_User_is_in_Leadership_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e4Q000001snUm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00ej0000000vlsU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnavailableScreen</targetReference>
            </connector>
            <label>User Isn&apos;t Under Leadership Umbrella</label>
        </rules>
        <rules>
            <name>CAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarUserID.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAM/CASR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CAM_s_Largest_Win</targetReference>
            </connector>
            <label>CAM</label>
        </rules>
    </decisions>
    <description>Screen for Non-Leadership Users, bypassed for IT Super Users and Sys Admin, no logo.</description>
    <environments>Default</environments>
    <formulas>
        <name>CAMCYWinRate</name>
        <dataType>Number</dataType>
        <expression>{!CAMWinsOnly} / {!CYCAMOpps} * 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CAMPipelineCoverageFormula</name>
        <dataType>Number</dataType>
        <expression>{!CAMPipelineSum}/{!CAMSumLeftinBudget}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CAMSumLeftinBudget</name>
        <dataType>Currency</dataType>
        <expression>{!CAMBudgetSum} - {!CAMRevenueSum}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CreateDateThisYear</name>
        <dataType>Boolean</dataType>
        <expression>YEAR(DATEVALUE({!Loop_Current_Year_Opportunities.CreatedDate})) = YEAR(TODAY())</expression>
    </formulas>
    <formulas>
        <name>CYWinRate</name>
        <dataType>Number</dataType>
        <expression>({!WonOppsCount} / {!AllOppsCount}) * 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PipelineCoverageFormula</name>
        <dataType>Number</dataType>
        <expression>{!CurrentPipelineSum} / {!SumLeftinBudget}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SumLeftinBudget</name>
        <dataType>Currency</dataType>
        <expression>{!CYBudget} - {!CYRevenue}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UserFullName</name>
        <dataType>String</dataType>
        <expression>{!VarUserID.FirstName}&amp;&quot; &quot;&amp;{!VarUserID.LastName}</expression>
    </formulas>
    <interviewLabel>Leader Demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Leader User Data Metrics</label>
    <loops>
        <name>Loop_Current_Pipeline</name>
        <label>Loop Current Pipeline</label>
        <locationX>1018</locationX>
        <locationY>1274</locationY>
        <collectionReference>Get_Current_Pipeline</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Pipeline</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CY_Budget_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Current_Year_Opportunities</name>
        <label>Loop Current Year Opportunities</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_User_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_All_Current_Year_Opps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Current_Pipeline</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_CY_Budget_Records</name>
        <label>Loop CY Budget Records</label>
        <locationX>1018</locationX>
        <locationY>1682</locationY>
        <collectionReference>Get_CY_Budget_Info</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Budget_or_Revenue_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RGSP_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_CY_CAM_Metrcis</name>
        <label>Loop CY CAM Metrics</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_CY_CAM_Account_Metrics</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_CAM_Metrics</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CAM_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CAM_s_Largest_Pipeline_Opp</name>
        <label>Get CAM&apos;s Largest Pipeline Opp</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CY_CAM_Account_Metrics</targetReference>
        </connector>
        <filterLogic>(1 OR 7) AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Key_Account_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserFullName</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2 - Pursuing</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3 - Quoted</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4 - Negotiating</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5 - Verbal Award</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6 - Pending Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>Corp_Key_Account_Support_Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserFullName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Number_Amount__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CAM_s_Largest_Win</name>
        <label>Get CAM&apos;s Largest Win Last 90</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CAM_s_Largest_Pipeline_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarUserID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>7 - Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Age_from_Close_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Age_from_Close_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Number_Amount__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Pipeline</name>
        <label>Get Current Pipeline</label>
        <locationX>1018</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Current_Pipeline</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6) AND 7</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarUserID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2 - Pursuing</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3 - Quoted</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4 - Negotiating</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5 - Verbal Award</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6 - Pending Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opp_Closing_CY__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CY_Budget_Info</name>
        <label>Get CY Budget Info</label>
        <locationX>1018</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CY_Budget_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarUserID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Budget_CY__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CY_CAM_Account_Metrics</name>
        <label>Get CY CAM Account Metrics</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CY_CAM_Metrcis</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarUserID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>KAM_Support__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarUserID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Corp_Key_Account_Pipeline__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Corp_Key_Account_Pipeline__c</queriedFields>
        <queriedFields>Current_Year_Corp_Key_Budget__c</queriedFields>
        <queriedFields>Current_Year_Corp_Key_Revenue__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Opportunities</name>
        <label>Get User Opportunities</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Current_Year_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarUserID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opp_Created_CY__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_Largest_Pipeline_Opp</name>
        <label>Get Users Largest Pipeline Opp</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Opportunities</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarUserID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2 - Pursuing</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3 - Quoted</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4 - Negotiating</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5 - Verbal Award</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6 - Pending Services</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Number_Amount__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_Largest_Win</name>
        <label>Get Users Largest Win</label>
        <locationX>1018</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users_Largest_Pipeline_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarUserID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>7 - Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Age_from_Close_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Age_from_Close_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Number_Amount__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CAM_Screen</name>
        <label>CAM Screen</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CAM_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CAM_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PersonalPathLogo2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://cleanharbors.file.force.com/sfc/servlet.shepherd/version/download/068bV000000SnCJ?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Path-CH.png&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CAM_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CAM_CYWinRate</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Budget Managed By User:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!CAMBudgetSum}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CAM_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CAM_CYPipelineCoverage</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;CY Pipeline Coverage:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!CAMPipelineCoverageTemp}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CAM_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CAM_LargestCareerWin</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Largest Win Last 90 Days:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!CAMBiggestWinTemp}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RGSP_Screen</name>
        <label>RGSP Screen</label>
        <locationX>1018</locationX>
        <locationY>2174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RGSP_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RGSP_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PersonalPathLogo3</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://cleanharbors.file.force.com/sfc/servlet.shepherd/version/download/068bV000000ScqR?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Path-CH.png&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RGSP_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WinRateCY</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Win Rate This Year:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!CYWinRate}%&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;({!WonOppsCount} Wins Created CY,&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!AllOppsCount} Opps Created CY)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RGSP_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PipelineCoverage</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Current Pipeline Coverage&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!PipelineCoverageTemp}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u&gt;﻿&lt;/u&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RGSP_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LargestWin</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Largest Win Last 90 Days:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!BiggestWinTemp}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UnavailableScreen</name>
        <label>UnavailableScreen</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UnavailableScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UnavailableScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PersonalPathLogo1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://cleanharbors.file.force.com/sfc/servlet.shepherd/version/download/068bV000000Slws?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Path-CH.png&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UnavailableScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UnavailableText</name>
                    <fieldText>&lt;p&gt;Personal PATH is only available to members of the user&apos;s leadership team.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_User_a_CAM_or_RGSP</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BiggestWinTemp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;{!Get_Users_Largest_Win.CurrencyIsoCode} {!Get_Users_Largest_Win.Amount}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;({!Get_Users_Largest_Win.WIN_ID__c}, closed {!Get_Users_Largest_Win.CloseDate})&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CAMBiggestWinTemp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;{!Get_CAM_s_Largest_Win.CurrencyIsoCode} {!Get_CAM_s_Largest_Win.Amount}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;({!Get_CAM_s_Largest_Win.Key_Account_Name__c}, closed {!Get_CAM_s_Largest_Win.CloseDate})&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CAMPipelineCoverageTemp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;{!CAMPipelineCoverageFormula}X&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;({!CAMPipelineSum} in Pipeline,&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!CAMSumLeftinBudget} left in Budget)&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PipelineCoverageTemp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;{!PipelineCoverageFormula}X&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;({!CurrentPipelineSum} in Pipeline, {!SumLeftinBudget} left in Budget&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AllOppsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CAMBudgetSum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CAMPipelineSum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CAMRevenueSum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CAMWinsOnly</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CurrentPipelineSum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CYBudget</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CYCAMOpps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CYRevenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VarUserID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>WonOppsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
