force-app/main/default/flows/Reactivation_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>DefaultOperatingSegmentAndPSP</name>
        <label>DefaultOperatingSegmentAndPSP</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>Users</actionName> 
        <actionType>apex</actionType>
        <connector>
            <targetReference>Reactivate_Account</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>New_Account_Owner.recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Users</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>lockAccountRecord</name>
        <label>lockAccountRecord</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <actionName>AccountCRUDHandler</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Account_Lock_Errors</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountCRUDHandler</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>UnexpireReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Unexpire_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Reactivation Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reactivation Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Reactivation_case</name>
        <label>Create Reactivation case</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>caseID</assignRecordIdToReference>
        <connector>
            <targetReference>lockAccountRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Be_Assigned_Account_Owner_ID__c</field>
            <value>
                <elementReference>New_Account_Owner.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unexpire_Reason__c</field>
            <value>
                <elementReference>Unexpire_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified_Customer_Billing__c</field>
            <value>
                <elementReference>Verified_Customer_Billing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verified_Main_Contact__c</field>
            <value>
                <elementReference>Verified_Contacts</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getCaseRecordTypeID</name>
        <label>getCaseRecordTypeID</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setInactivateReactivateAccountToTrue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ValidationErrors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Master_Unexpire_Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>getRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>setInactivateReactivateAccountToTrue</name>
        <label>setInactivateReactivateAccountToTrue</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Reactivation_case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorReactivateAccount</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inactivate_Reactivate_In_Progress__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Account_Lock_Errors</name>
        <label>Account Lock Errors</label>
        <locationX>440</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_ErrorDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 16px; color: rgb(224, 13, 13);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorReactivateAccount</name>
        <label>Error</label>
        <locationX>704</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: serif; font-size: 16px; color: rgb(224, 13, 13);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reactivate_Account</name>
        <label>Reactivate Account</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getCaseRecordTypeID</targetReference>
        </connector>
        <fields>
            <name>Details</name>
            <fieldText>Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unexpire_Reason</name>
                    <choiceReferences>UnexpireReason</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Unexpire Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Operating_Segment_and_Primary_Service_Provider</name>
            <fieldText>New Operating Segment and Primary Service Provider</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Operating_Segment_and_Primary_Service_Provider_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_Operating_Segment</name>
                    <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;New Operating Segment : &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>New_Primary_Service_Provider</name>
                    <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;New Primary Service Provider :&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Operating_Segment_and_Primary_Service_Provider_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_Operating_Segment_Value</name>
                    <fieldText>&lt;p&gt;{!DefaultOperatingSegmentAndPSP.OperatingSegment}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>New_Primary_Service_Provider_Value</name>
                    <fieldText>&lt;p&gt;{!DefaultOperatingSegmentAndPSP.PrimaryServiceProvider}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Address_Information</name>
            <fieldText>Customer Address Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Address_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Verified_Customer_Billing</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Verified Customer Billing</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;You must attest that the Bill To address on this customer is accurate.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 48, 48);&quot;&gt;Please select Verified Customer Billing&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Verified_Customer_Billing} = True,True,False)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Contact_Information</name>
            <fieldText>Customer/Contact Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Contact_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Verified_Contacts</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Verified Contacts</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;You must attest that the Customer Contacts associated with this account are accurate and up-to-date.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 48, 48);&quot;&gt;Please select Verified Contacts&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Verified_Contacts} = True,True,False)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reactivate_Account_New_Account_Owner</name>
        <label>Reactivate Account: New Account Owner</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DefaultOperatingSegmentAndPSP</targetReference>
        </connector>
        <fields>
            <name>New_Account_Owner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Account Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ValidationErrors</name>
        <label>ValidationErrors</label>
        <locationX>968</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlowErrorDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: serif; color: rgb(237, 21, 21);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reactivate_Account_New_Account_Owner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
