force-app/main/default/flows/Rewrite_Last_Activity_Logic_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Account_New_or_Existing_Task</name>
        <label>Account - New or Existing Task</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Account_New_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Update_Account</targetReference>
            </connector>
            <label>New Event</label>
        </rules>
        <rules>
            <name>Account_Existing_Event_W_O_Completed_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_Complete__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Mark_Complete_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mark_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Update_Account</targetReference>
            </connector>
            <label>Existing Event W/O Completed Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_New_or_Existing_Task</name>
        <label>Contact - New or Existing Task</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Contact_New_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>New Event</label>
        </rules>
        <rules>
            <name>Contact_Existing_Event_W_O_Completed_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_Complete__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Mark_Complete_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mark_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>Existing Event W/O Completed Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Relation_to_Account</name>
        <label>Records Relation to Account</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Account_Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_New_or_Existing_Task</targetReference>
            </connector>
            <label>Account Direct</label>
        </rules>
        <rules>
            <name>Contact_No_Account</name>
            <conditionLogic>NOT 1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_New_or_Existing_Task</targetReference>
            </connector>
            <label>Contact (No Account)</label>
        </rules>
    </decisions>
    <description>This flow updates the Last Visit Date on the Account with Meeting Date based on Face to Face to activity type marked as complete.</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(NOW())</expression>
    </formulas>
    <formulas>
        <name>StartDateOfEvent</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.StartDateTime})</expression>
    </formulas>
    <formulas>
        <name>ToggleOppositeValue</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!Get_Current_Account.Toggle_Me_to_Bypass_Validation__c})</expression>
    </formulas>
    <interviewLabel>Rewrite Last Activity Logic on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rewrite Last Activity Logic on Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>666</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Update_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Account</name>
        <label>Get Current Account</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Mark_Complete_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Toggle_Me_to_Bypass_Validation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Toggle_Me_to_Bypass_Validation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_Update_Account</name>
        <label>Account - Update Account</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Visit_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>StartDateOfEvent</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Visit_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Visit_Date__c</field>
            <value>
                <elementReference>StartDateOfEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Toggle_Me_to_Bypass_Validation__c</field>
            <value>
                <elementReference>ToggleOppositeValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Contact_Update_Account</name>
        <label>Contact - Update Account</label>
        <locationX>666</locationX>
        <locationY>1055</locationY>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Visit_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>StartDateOfEvent</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Visit_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Visit_Date__c</field>
            <value>
                <elementReference>StartDateOfEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Toggle_Me_to_Bypass_Validation__c</field>
            <value>
                <elementReference>ToggleOppositeValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Mark_Complete_Date</name>
        <label>Update Mark Complete Date</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Records_Relation_to_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Mark_Complete_Date__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Account</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mark_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Event_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Face to Face</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ToggleValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
