force-app/main/default/flows/Ride_Report_Sales_Director_VP_SVP_Change_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_Ride_Report_Collection</name>
        <label>Add to Ride Report Collection</label>
        <locationX>1254</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>RideReportSharingCollectionNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RideReportSharingRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ride_Report_Sharing_Collection_for_Director_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Ride_Report_Collections</name>
        <label>Add to Ride Report Collections</label>
        <locationX>2756</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>RideReportSharingCollectionNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RideReportSharingRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ride_Report_Sharing_Collection_for_VP_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Ride_Report_Collections1</name>
        <label>Add to Ride Report Collections</label>
        <locationX>3570</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>RideReportSharingCollectionNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RideReportSharingRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ride_Report_Sharing_Collection_for_SVP_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Ride_Report_Collections2</name>
        <label>Add to Ride Report Collections</label>
        <locationX>138</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>RideReportSharingCollectionNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RideReportSharingRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ride_Report_Sharing_Collection_for_SVP_Change1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Ride_Report_Collections3</name>
        <label>Add to Ride Report Collections</label>
        <locationX>2426</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>RideReportSharingCollectionNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RideReportSharingRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ride_Report_Sharing_Collection_for_SVP_Change2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Ride_Report_Collections4</name>
        <label>Add to Ride Report Collections</label>
        <locationX>1282</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>RideReportSharingCollectionNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RideReportSharingRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ride_Report_Sharing_Collection_for_SVP_Change3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Sales_VP_Ride_Report_Collection</name>
        <label>Add to Sales VP Ride Report Collection</label>
        <locationX>468</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>RideReportSharingCollectionNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RideReportSharingRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ride_Report_Sharing_Collection_for_Sales_VP_Change1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ids</name>
        <label>Assign Ids</label>
        <locationX>2881</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>RideReportIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_to_Ride_Report_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Ride_Report_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Ride_Report_Share</name>
        <label>Assign to Ride Report Share</label>
        <locationX>1254</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Ride_Report_Sharing_Collection_for_Director_Change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales_Director_Sharing__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Director__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Ride_Report_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Ride_Report_Sharing</name>
        <label>Assign to Ride Report Sharing</label>
        <locationX>2756</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Ride_Report_Sharing_Collection_for_VP_Change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales_VP_Sharing__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_VP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Ride_Report_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Ride_Report_Sharing_to_SVP</name>
        <label>Assign to Ride Report Sharing to SVP</label>
        <locationX>3570</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Ride_Report_Sharing_Collection_for_SVP_Change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales_SVP_Sharing__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_SVP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Ride_Report_Collections1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Ride_Report_Sharing_to_SVP1</name>
        <label>Assign to Ride Report Sharing to SVP</label>
        <locationX>138</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Ride_Report_Sharing_Collection_for_SVP_Change1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales_SVP_Sharing__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_SVP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Ride_Report_Collections2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Ride_Report_Sharing_to_SVP2</name>
        <label>Assign to Ride Report Sharing to SVP</label>
        <locationX>2426</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Ride_Report_Sharing_Collection_for_SVP_Change2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales_SVP_Sharing__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_SVP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Ride_Report_Collections3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Ride_Report_Sharing_to_SVP3</name>
        <label>Assign to Ride Report Sharing to SVP</label>
        <locationX>1282</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Ride_Report_Sharing_Collection_for_SVP_Change3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales_SVP_Sharing__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_SVP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Ride_Report_Collections4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Sales_VP_Ride_Report_Share</name>
        <label>Assign to Sales VP Ride Report Share</label>
        <locationX>468</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Ride_Report_Sharing_Collection_for_Sales_VP_Change1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales_VP_Sharing__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_VP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RideReportSharingRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Sales_VP_Ride_Report_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_New_Sales_Director_is_assigned</name>
        <label>Check if New Sales Director is assigned</label>
        <locationX>1576</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Director_is_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ride_Report_Sharing_Collection_for_Director_Change</targetReference>
            </connector>
            <label>Sales Director is Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_New_Sales_SVP_is_assigned</name>
        <label>Check if New Sales SVP  is assigned</label>
        <locationX>3614</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_SVP_is_Assigned2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_SVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ride_Report_Sharing_Collection_for_SVP_Change</targetReference>
            </connector>
            <label>Sales SVP is Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_New_Sales_SVP_is_assigned1</name>
        <label>Check if New Sales SVP  is assigned</label>
        <locationX>2470</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_SVP_is_Assigned1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_SVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ride_Report_Sharing_Collection_for_SVP_Change2</targetReference>
            </connector>
            <label>Sales SVP is Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_New_Sales_SVP_is_assigned2</name>
        <label>Check if New Sales SVP  is assigned</label>
        <locationX>1326</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_SVP_is_Assigned3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_SVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ride_Report_Sharing_Collection_for_SVP_Change3</targetReference>
            </connector>
            <label>Sales SVP is Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_New_Sales_SVP_is_assigned3</name>
        <label>Check if New Sales SVP  is assigned</label>
        <locationX>182</locationX>
        <locationY>2303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_SVP_is_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_SVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ride_Report_Sharing_Collection_for_SVP_Change1</targetReference>
            </connector>
            <label>Sales SVP is Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_New_Sales_VP_is_assigned</name>
        <label>Check if New Sales VP is assigned</label>
        <locationX>611</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_VP_is_Assigned1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_VP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ride_Report_Sharing_Collection_for_Sales_VP_Change1</targetReference>
            </connector>
            <label>Sales VP is Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_New_Sales_VP_is_assigned1</name>
        <label>Check if New Sales VP  is assigned</label>
        <locationX>2899</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_VP_is_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_VP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ride_Report_Sharing_Collection_for_VP_Change</targetReference>
            </connector>
            <label>Sales VP is Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sales_SVP_Has_changed</name>
        <label>Check Sales SVP Has changed</label>
        <locationX>380</locationX>
        <locationY>2195</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SVP_IS_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_SVP__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_New_Sales_SVP_is_assigned3</targetReference>
            </connector>
            <label>SVP IS Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sales_SVP_Has_changed1</name>
        <label>Check Sales SVP Has changed</label>
        <locationX>2668</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SVP_IS_Changed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_SVP__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_New_Sales_SVP_is_assigned1</targetReference>
            </connector>
            <label>SVP IS Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_record_is_changed</name>
        <label>Check User record is changed</label>
        <locationX>2793</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Sales_Director_Has_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Director__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_New_Sales_Director_is_assigned</targetReference>
            </connector>
            <label>Check Sales Director Has changed</label>
        </rules>
        <rules>
            <name>Check_Sales_VP_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_VP__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_New_Sales_VP_is_assigned1</targetReference>
            </connector>
            <label>Check Sales VP is changed</label>
        </rules>
        <rules>
            <name>Check_Sales_SVP_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_SVP__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_New_Sales_SVP_is_assigned</targetReference>
            </connector>
            <label>Check Sales SVP is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_VP_or_SVP_is_changed</name>
        <label>Check VP or SVP is changed</label>
        <locationX>1166</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_VP_IS_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_VP__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_New_Sales_VP_is_assigned</targetReference>
            </connector>
            <label>Sales VP IS Changed</label>
        </rules>
        <rules>
            <name>Sales_SVP_Is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_SVP__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_New_Sales_SVP_is_assigned2</targetReference>
            </connector>
            <label>Sales SVP Is changed</label>
        </rules>
    </decisions>
    <description>This flow is to give Read access to New Sales Director, Sales VP or Sales SVP when these fields are got changed on user record.</description>
    <environments>Default</environments>
    <interviewLabel>Ride Report User Record Chang {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ride Report  Sales Director,VP,SVP Change Flow</label>
    <loops>
        <name>Assign_to_Ride_Report_Ids</name>
        <label>Assign to Ride Report Ids</label>
        <locationX>2793</locationX>
        <locationY>431</locationY>
        <collectionReference>RideReportCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_User_record_is_changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Ride_Report_Sharing_Collection_for_Director_Change</name>
        <label>Create Ride Report Sharing Collection for Director Change</label>
        <locationX>1166</locationX>
        <locationY>947</locationY>
        <collectionReference>RideReportIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Ride_Report_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Ride_Report_Records_For_Sales_Director</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Ride_Report_Sharing_Collection_for_Sales_VP_Change1</name>
        <label>Create Ride Report Sharing Collection for Sales VP Change</label>
        <locationX>380</locationX>
        <locationY>1679</locationY>
        <collectionReference>RideReportIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Sales_VP_Ride_Report_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Ride_Report_Records_For_Sales_VP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Ride_Report_Sharing_Collection_for_SVP_Change</name>
        <label>Create Ride Report Sharing Collection for SVP Change</label>
        <locationX>3482</locationX>
        <locationY>947</locationY>
        <collectionReference>RideReportIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Ride_Report_Sharing_to_SVP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Ride_Report_Records_For_Sales_SVP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Ride_Report_Sharing_Collection_for_SVP_Change1</name>
        <label>Create Ride Report Sharing Collection for SVP Change</label>
        <locationX>50</locationX>
        <locationY>2411</locationY>
        <collectionReference>RideReportIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Ride_Report_Sharing_to_SVP1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Ride_Report_Records_For_Sales_SVP1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Ride_Report_Sharing_Collection_for_SVP_Change2</name>
        <label>Create Ride Report Sharing Collection for SVP Change</label>
        <locationX>2338</locationX>
        <locationY>1679</locationY>
        <collectionReference>RideReportIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Ride_Report_Sharing_to_SVP2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Ride_Report_Records_For_Sales_SVP2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Ride_Report_Sharing_Collection_for_SVP_Change3</name>
        <label>Create Ride Report Sharing Collection for SVP Change</label>
        <locationX>1194</locationX>
        <locationY>1679</locationY>
        <collectionReference>RideReportIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Ride_Report_Sharing_to_SVP3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Ride_Report_Records_For_Sales_SVP3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Ride_Report_Sharing_Collection_for_VP_Change</name>
        <label>Create Ride Report Sharing Collection for VP Change</label>
        <locationX>2668</locationX>
        <locationY>947</locationY>
        <collectionReference>RideReportIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Ride_Report_Sharing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Ride_Report_Records_For_Sales_VP1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Ride_Report_Records_For_Sales_Director</name>
        <label>Create Ride Report Records For Sales Director</label>
        <locationX>1166</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Check_VP_or_SVP_is_changed</targetReference>
        </connector>
        <inputReference>RideReportSharingCollectionNew</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ride_Report_Records_For_Sales_SVP</name>
        <label>Create Ride Report Records For Sales SVP</label>
        <locationX>3482</locationX>
        <locationY>1355</locationY>
        <inputReference>RideReportSharingCollectionNew</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ride_Report_Records_For_Sales_SVP1</name>
        <label>Create Ride Report Records For Sales SVP</label>
        <locationX>50</locationX>
        <locationY>2819</locationY>
        <inputReference>RideReportSharingCollectionNew</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ride_Report_Records_For_Sales_SVP2</name>
        <label>Create Ride Report Records For Sales SVP</label>
        <locationX>2338</locationX>
        <locationY>2087</locationY>
        <inputReference>RideReportSharingCollectionNew</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ride_Report_Records_For_Sales_SVP3</name>
        <label>Create Ride Report Records For Sales SVP</label>
        <locationX>1194</locationX>
        <locationY>2087</locationY>
        <inputReference>RideReportSharingCollectionNew</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ride_Report_Records_For_Sales_VP</name>
        <label>Create Ride Report Records For Sales VP</label>
        <locationX>380</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Check_Sales_SVP_Has_changed</targetReference>
        </connector>
        <inputReference>RideReportSharingCollectionNew</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ride_Report_Records_For_Sales_VP1</name>
        <label>Create Ride Report Records For Sales VP</label>
        <locationX>2668</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Check_Sales_SVP_Has_changed1</targetReference>
        </connector>
        <inputReference>RideReportSharingCollectionNew</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Ride_Report_Records_with_User</name>
        <label>Get Ride Report Records with User</label>
        <locationX>2793</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Ride_Report_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salesperson__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Ride_Report__c</object>
        <outputReference>RideReportCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>2667</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Ride_Report_Records_with_User</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Sales_Director__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_VP__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_SVP__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Numberofrecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RecordSharingCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Ride_Report__Share</objectType>
    </variables>
    <variables>
        <name>RideReportCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Ride_Report__c</objectType>
    </variables>
    <variables>
        <name>RideReportIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RideReportIdsTemp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RideReportRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Ride_Report__c</objectType>
    </variables>
    <variables>
        <name>RideReportSharingCollectionNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Ride_Report__Share</objectType>
    </variables>
    <variables>
        <name>RideReportSharingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Ride_Report__Share</objectType>
    </variables>
    <variables>
        <name>SharingCollectionCOunt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
