force-app/main/default/flows/Ride_Report_Securities_New_Version_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Prior_Ride_Report_Sharing_Count</name>
        <label>Assign  Prior Ride Report Sharing Count</label>
        <locationX>1964</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ExistingSharingCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SharingRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_sharing_record_exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sharing_Count</name>
        <label>Assign Sharing Count</label>
        <locationX>2558</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ExistingSharingCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SharingRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Sharin_Record_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Sharing_Count</name>
        <label>Copy 1 of Assign Sharing Count</label>
        <locationX>1766</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>ExistingSharingCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SharingRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_Sharin_Record_count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Branch_Manager_is_Populated_and_Active_of_Branch_Account</name>
        <label>Check Branch Manager is Populated and Active of Branch Account</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Branch_Manager_is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Branch__r.Branch_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Branch__r.Branch_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Branch_Account_Branch_Manager_Sharing_Record</targetReference>
            </connector>
            <label>Branch Manager is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_SalesPerson_Or_Branch_Account_is_populated</name>
        <label>Check If SalesPerson Or Branch Account is populated</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Salesperson_and_Branch_Account_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salesperson__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Branch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Sharing_Record_for_the_User</targetReference>
            </connector>
            <label>If Salesperson  and Branch Account is populated</label>
        </rules>
        <rules>
            <name>If_Branch_Account_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salesperson__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Sharing_Record_for_the_User</targetReference>
            </connector>
            <label>If Salesperson  is populated</label>
        </rules>
        <rules>
            <name>If_Branch_Account1_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Branch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Branch_Manager_is_Populated_and_Active_of_Branch_Account</targetReference>
            </connector>
            <label>If Branch Account is populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sharin_Record_count</name>
        <label>Check Sharin Record count</label>
        <locationX>2558</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Check_Branch_Manager_is_Populated_and_Active_of_Branch_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_the_record_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingSharingCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Sharing_Records</targetReference>
            </connector>
            <label>If the record exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_sharing_record_exists</name>
        <label>Check sharing record exists</label>
        <locationX>1964</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Create_Sharing_Record_for_the_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingSharingCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_existing_sharing_rules</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Branch_Manager_is_Populated_and_Active_of_Branch_Account</name>
        <label>Copy 1 of Check Branch Manager is Populated and Active of Branch Account</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Branch_Manager_is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Branch__r.Branch_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Branch__r.Branch_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Branch_Account_Branch_Manager_Sharing_Record</targetReference>
            </connector>
            <label>Copy 1 of Branch Manager is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Sharin_Record_count</name>
        <label>Copy 1 of Check Sharin Record count</label>
        <locationX>1766</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Check_Branch_Manager_is_Populated_and_Active_of_Branch_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_the_record_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingSharingCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Sharing_Records_1</targetReference>
            </connector>
            <label>Copy 1 of If the record exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Has_Branch_is_Changed</name>
        <label>Copy 1 of Has Branch is Changed</label>
        <locationX>1964</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Branch_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Branch__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Sharing_Record_Owned_by_Branch_Account_Owner_and_his_manager</targetReference>
            </connector>
            <label>Copy 1 of Branch is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_Branch_Manager_is_Populated_and_Active_of_Branch_Account</name>
        <label>Copy 2 of Check Branch Manager is Populated and Active of Branch Account</label>
        <locationX>1766</locationX>
        <locationY>1895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Branch_Manager_is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Branch__r.Branch_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Branch__r.Branch_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Branch_Account_Branch_Manager_Sharing_Record</targetReference>
            </connector>
            <label>Copy 2 of Branch Manager is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Check_Branch_Manager_is_Populated_and_Active_of_Branch_Account</name>
        <label>Copy 3 of Check Branch Manager is Populated and Active of Branch Account</label>
        <locationX>2558</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Branch_Manager_is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Branch__r.Branch_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Branch__r.Branch_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Create_Branch_Account_Branch_Manager_Sharing_Record</targetReference>
            </connector>
            <label>Copy 3 of Branch Manager is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Branch_is_Changed</name>
        <label>Has Branch is Changed</label>
        <locationX>2756</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Branch_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Branch__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sharing_Record_Owned_by_Branch_Account_Owner_and_his_manager</targetReference>
            </connector>
            <label>Branch is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_SalesPerson_Changed</name>
        <label>Has SalesPerson Changed</label>
        <locationX>2360</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Has_Branch_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Salesperson_Changed_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salesperson__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Shared_Ride_Reports</targetReference>
            </connector>
            <label>Salesperson Changed Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_salesperson_and_Branch_is_not_changed</name>
        <label>Verify salesperson and Branch is not changed</label>
        <locationX>1568</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Has_SalesPerson_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salesperson__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Branch__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_SalesPerson_Or_Branch_Account_is_populated</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Ride Report Securities New Version 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ride Report Securities New Version 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Branch_Account_Branch_Manager_Sharing_Record</name>
        <label>Copy 1 of Create Branch Account Branch Manager Sharing Record</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Branch_Account_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Branch__r.Branch_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Sharing_Record_for_the_User</name>
        <label>Copy 1 of Create Sharing Record for the User</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Copy_1_of_Ride_Report</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Sales_Person_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Salesperson__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Branch_Account_Branch_Manager_Sharing_Record</name>
        <label>Copy 2 of Create Branch Account Branch Manager Sharing Record</label>
        <locationX>1634</locationX>
        <locationY>2003</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Branch_Account_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Branch__r.Branch_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Sharing_Record_for_the_User</name>
        <label>Copy 2 of Create Sharing Record for the User</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Ride_Report</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Sales_Person_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Salesperson__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Create_Branch_Account_Branch_Manager_Sharing_Record</name>
        <label>Copy 3 of Create Branch Account Branch Manager Sharing Record</label>
        <locationX>2426</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Branch_Account_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Branch__r.Branch_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Branch_Account_Branch_Manager_Sharing_Record</name>
        <label>Create Branch Account Branch Manager Sharing Record</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Branch_Account_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Branch__r.Branch_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sharing_Record_for_the_User</name>
        <label>Create Sharing Record for the User</label>
        <locationX>1964</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Copy_2_of_Ride_Report</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Sales_Person_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Salesperson__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_existing_sharing_rules</name>
        <label>Delete existing sharing rules</label>
        <locationX>1832</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Create_Sharing_Record_for_the_User</targetReference>
        </connector>
        <inputReference>SharingRecordCollection</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Sharing_Records</name>
        <label>Delete Sharing Records</label>
        <locationX>2426</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Copy_3_of_Check_Branch_Manager_is_Populated_and_Active_of_Branch_Account</targetReference>
        </connector>
        <inputReference>SharingRecordCollection</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Sharing_Records_1</name>
        <label>Delete Sharing Records</label>
        <locationX>1634</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Copy_2_of_Check_Branch_Manager_is_Populated_and_Active_of_Branch_Account</targetReference>
        </connector>
        <inputReference>SharingRecordCollection</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_Get_Sharing_Record_Owned_by_Branch_Account_Owner_and_his_manager</name>
        <label>Copy 1 of Get Sharing Record Owned by Branch Account Owner and his manager</label>
        <locationX>1766</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Sharing_Count</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Branch__r.Branch_Manager__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Branch_Account_Sharing__c</stringValue>
            </value>
        </filters>
        <object>Ride_Report__Share</object>
        <outputReference>SharingRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Shared_Ride_Reports</name>
        <label>Get Existing Shared Ride Reports</label>
        <locationX>1964</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Prior_Ride_Report_Sharing_Count</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5) AND (6 OR 7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Salesperson__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Salesperson__r.Sales_Director__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Salesperson__r.Sales_VP__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Salesperson__r.Sales_SVP__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Person_Sharing__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Director_Sharing__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_VP_Sharing__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_SVP_Sharing__c</stringValue>
            </value>
        </filters>
        <object>Ride_Report__Share</object>
        <outputReference>SharingRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Sharing_Record_Owned_by_Branch_Account_Owner_and_his_manager</name>
        <label>Get Sharing Record Owned by Branch Account Owner and his manager</label>
        <locationX>2558</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Sharing_Count</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Branch_Account_Sharing__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Branch__r.Branch_Manager__c</elementReference>
            </value>
        </filters>
        <object>Ride_Report__Share</object>
        <outputReference>SharingRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_salesperson_and_Branch_is_not_changed</targetReference>
        </connector>
        <filterFormula>AND(ISPICKVAL({!$Record.Status__c}, &apos;Submitted&apos;),
OR(ISCHANGED({!$Record.Salesperson__c}), 
({!$Record.Salesperson__c})!=null, 
({!$Record.Branch__c})!=null,ISCHANGED({!$Record.Branch__c})))</filterFormula>
        <object>Ride_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_1_of_Ride_Report</name>
        <label>Copy 1 of Ride Report</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <flowName>Ride_Report_Sharing_Sub_Flow</flowName>
        <inputAssignments>
            <name>RideReportVariable</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Copy_2_of_Ride_Report</name>
        <label>Copy 2 of Ride Report</label>
        <locationX>1964</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Copy_1_of_Has_Branch_is_Changed</targetReference>
        </connector>
        <flowName>Ride_Report_Sharing_Sub_Flow</flowName>
        <inputAssignments>
            <name>RideReportVariable</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Ride_Report</name>
        <label>Ride Report</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_Branch_Manager_is_Populated_and_Active_of_Branch_Account</targetReference>
        </connector>
        <flowName>Ride_Report_Sharing_Sub_Flow</flowName>
        <inputAssignments>
            <name>RideReportVariable</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>BranchAccountSharing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingSharingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SalespersonSharing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SharingRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Ride_Report__Share</objectType>
    </variables>
</Flow>
