force-app/main/default/flows/Ride_Report_Sharing_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_if_Sales_Director_Sales_VP_Sales_SVP_populated</name>
        <label>Check if Sales Director, Sales VP, Sales SVP populated</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Sales Director, Sales VP and Sales SVP are NULL</defaultConnectorLabel>
        <rules>
            <name>Sales_Director_Sales_VP_and_Sales_SVP_are_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_VP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_SVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_sales_person_sales_director_Sharing_Record</targetReference>
            </connector>
            <label>Sales Director, Sales VP and Sales SVP are NOT NULL</label>
        </rules>
        <rules>
            <name>Sales_Director_Sales_VP_is_NOT_NULL_and_Sales_SVP_is_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_VP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_SVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_sales_person_sales_director_Sharing_Record</targetReference>
            </connector>
            <label>Sales Director, Sales VP is NOT NULL and Sales SVP is NULL</label>
        </rules>
        <rules>
            <name>Sales_Director_Sales_SVP_is_NOT_NULL_and_Sales_VP_is_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_SVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_VP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_sales_person_sales_director_Sharing_Record</targetReference>
            </connector>
            <label>Sales Director, Sales SVP is NOT NULL and Sales VP is NULL</label>
        </rules>
        <rules>
            <name>Sales_VP_Sales_SVP_is_NOT_NULL_and_Sales_Director_is_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_VP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_SVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Salesperson_Sales_VP_Sharing_Record</targetReference>
            </connector>
            <label>Sales VP, Sales SVP is NOT NULL and Sales Director is NULL</label>
        </rules>
        <rules>
            <name>Sales_Director_is_NOT_NULL_and_Sales_VP_Sales_SVP_is_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_VP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_SVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Create_sales_person_sales_director_Sharing_Record</targetReference>
            </connector>
            <label>Sales Director is NOT NULL and Sales VP, Sales SVP is NULL</label>
        </rules>
        <rules>
            <name>Sales_VP_is_NOT_NULL_and_Sales_Director_Sales_SVP_is_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_VP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_SVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Create_Salesperson_Sales_VP_Sharing_Record</targetReference>
            </connector>
            <label>Sales VP is NOT NULL and Sales Director, Sales SVP is NULL</label>
        </rules>
        <rules>
            <name>Sales_SVP_is_NOT_NULL_and_Sales_VP_Sales_Director_is_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_SVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_Director__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RideReportVariable.Salesperson__r.Sales_VP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Create_Salesperson_Sales_SVP_Sharing_Record</targetReference>
            </connector>
            <label>Sales SVP is NOT NULL and Sales VP, Sales Director is NULL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Ride Report Sharing  Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ride Report Sharing  Sub Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_sales_person_sales_director_Sharing_Record</name>
        <label>Copy 1 of Create sales person sales director  Sharing Record</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Salesperson_Sales_VP_Sharing_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>RideReportVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Sales_Director_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>RideReportVariable.Salesperson__r.Sales_Director__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Salesperson_Sales_SVP_Sharing_Record</name>
        <label>Copy 1 of Create_Salesperson_Sales_SVP_Sharing_Record</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>RideReportVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Sales_SVP_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>RideReportVariable.Salesperson__r.Sales_SVP__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Salesperson_Sales_VP_Sharing_Record</name>
        <label>Copy 1 of Create_Salesperson_Sales_VP_Sharing_Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>RideReportVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Sales_VP_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>RideReportVariable.Salesperson__r.Sales_VP__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_sales_person_sales_director_Sharing_Record</name>
        <label>Copy 2 of Create sales person sales director  Sharing Record</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Salesperson_Sales_SVP_Sharing_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>RideReportVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Sales_Director_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>RideReportVariable.Salesperson__r.Sales_Director__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Salesperson_Sales_SVP_Sharing_Record</name>
        <label>Copy 2 of Create_Salesperson_Sales_SVP_Sharing_Record</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>RideReportVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Sales_SVP_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>RideReportVariable.Salesperson__r.Sales_SVP__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Salesperson_Sales_VP_Sharing_Record</name>
        <label>Copy 2 of Create_Salesperson_Sales_VP_Sharing_Record</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Copy_2_of_Create_Salesperson_Sales_SVP_Sharing_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>RideReportVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Sales_VP_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>RideReportVariable.Salesperson__r.Sales_VP__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Create_sales_person_sales_director_Sharing_Record</name>
        <label>Copy 3 of Create sales person sales director  Sharing Record</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>RideReportVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Sales_Director_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>RideReportVariable.Salesperson__r.Sales_Director__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Create_Salesperson_Sales_SVP_Sharing_Record</name>
        <label>Copy 3 of Create_Salesperson_Sales_SVP_Sharing_Record</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>RideReportVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Sales_SVP_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>RideReportVariable.Salesperson__r.Sales_SVP__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Create_Salesperson_Sales_VP_Sharing_Record</name>
        <label>Copy 3 of Create_Salesperson_Sales_VP_Sharing_Record</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>RideReportVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Sales_VP_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>RideReportVariable.Salesperson__r.Sales_VP__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_sales_person_sales_director_Sharing_Record</name>
        <label>Create sales person sales director  Sharing Record</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Create_Salesperson_Sales_VP_Sharing_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>RideReportVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Sales_Director_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>RideReportVariable.Salesperson__r.Sales_Director__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Salesperson_Sales_SVP_Sharing_Record</name>
        <label>Create_Salesperson_Sales_SVP_Sharing_Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>RideReportVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Sales_SVP_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>RideReportVariable.Salesperson__r.Sales_SVP__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Salesperson_Sales_VP_Sharing_Record</name>
        <label>Create_Salesperson_Sales_VP_Sharing_Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Create_Salesperson_Sales_SVP_Sharing_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>RideReportVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Sales_VP_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>RideReportVariable.Salesperson__r.Sales_VP__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ride_Report__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Sales_Director_Sales_VP_Sales_SVP_populated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RideReportVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Ride_Report__c</objectType>
    </variables>
</Flow>
