force-app/main/default/flows/Sales_Ops_Requests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Record_Type</name>
        <label>Assign Record Type</label>
        <locationX>545</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>SalesOpsRequestObj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Types</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AccountCleanUP</name>
        <choiceText>Account Clean-Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Clean-Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>AMSRCrossOver</name>
        <choiceText>AM/SR Cross-Over</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AM/SR Cross-Over</stringValue>
        </value>
    </choices>
    <choices>
        <name>Approved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Backfill</name>
        <choiceText>Back-Fill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Back-Fill</stringValue>
        </value>
    </choices>
    <choices>
        <name>BookRebalance</name>
        <choiceText>Book Rebalance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Book Rebalance</stringValue>
        </value>
    </choices>
    <choices>
        <name>BPS</name>
        <choiceText>BPS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BPS</stringValue>
        </value>
    </choices>
    <choices>
        <name>BrandReAssignment</name>
        <choiceText>Brand Re-Assignment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Brand Re-Assignment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomerRequest</name>
        <choiceText>Customer Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomerRequest1</name>
        <choiceText>Customer Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>FlipAllAccountsNewHireTermination</name>
        <choiceText>Flip All Accounts (New Hire / Termination)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flip All Accounts (New Hire / Termination)</stringValue>
        </value>
    </choices>
    <choices>
        <name>InsideSales</name>
        <choiceText>Inside Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inside Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>MultipleAccountChange</name>
        <choiceText>Multiple Account Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multiple Account Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>OpenTerritory</name>
        <choiceText>Open Territory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open Territory</stringValue>
        </value>
    </choices>
    <choices>
        <name>PostalCodeReAssignment</name>
        <choiceText>Postal Code Re-Assignment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Postal Code Re-Assignment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Promotion_Replacement</name>
        <choiceText>Promotion/Replacement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Promotion/Replacement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rejected</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>SKE</name>
        <choiceText>SKE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SKE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submitted</name>
        <choiceText>Submitted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submitted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Termination</name>
        <choiceText>Termination&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Termination</stringValue>
        </value>
    </choices>
    <choices>
        <name>TerritoryAddition</name>
        <choiceText>Territory Addition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Territory Addition</stringValue>
        </value>
    </choices>
    <choices>
        <name>TerritoryAlignment</name>
        <choiceText>Territory Alignment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Territory Alignment</stringValue>
        </value>
    </choices>
    <choices>
        <name>TerritoryConsolidation</name>
        <choiceText>Territory Consolidation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Territory Consolidation</stringValue>
        </value>
    </choices>
    <choices>
        <name>TerritoryReAlignment</name>
        <choiceText>Territory Re-Alignment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Territory Re-Alignment</stringValue>
        </value>
    </choices>
    <choices>
        <name>TerritoryShuffle</name>
        <choiceText>Territory Shuffle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Territory Shuffle</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Audit_permissions</name>
        <label>Check Audit permissions</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Record_Type_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>With out Audit Permission</defaultConnectorLabel>
        <rules>
            <name>With_Audit_Permission</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT Super User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Selection1</targetReference>
            </connector>
            <label>With Audit Permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConditionCorporateAccount</name>
        <label>ConditionCorporateAccount</label>
        <locationX>1040</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>If_Pardot_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>if Pardot</defaultConnectorLabel>
        <rules>
            <name>Corporate_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Account Implementation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Corporate_Account_Implementation_Typ</targetReference>
            </connector>
            <label>Corporate Account</label>
        </rules>
        <rules>
            <name>Flip_All_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesOpsRequestObj.Campaign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flip All Accounts (New Hire / Termination)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flip_All_Accounts_Request_Type</targetReference>
            </connector>
            <label>Flip All Accounts</label>
        </rules>
        <rules>
            <name>Multiple_Account_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesOpsRequestObj.Campaign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multiple Account Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Owner_Change_SOR</targetReference>
            </connector>
            <label>Multiple Account Change</label>
        </rules>
        <rules>
            <name>Postal_Code_Re_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesOpsRequestObj.Campaign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Postal Code Re-Assignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Postal_code_Reassignment_Request_Type</targetReference>
            </connector>
            <label>Postal Code Re-Assignment</label>
        </rules>
        <rules>
            <name>Territory_Re_Alignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesOpsRequestObj.Campaign_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Territory Re-Alignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Territory_Re_Alignment_Request_Type</targetReference>
            </connector>
            <label>Territory Re-Alignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Pardot_Campaign</name>
        <label>If Pardot Campaign</label>
        <locationX>1766</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Other_Campaign_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Business_Prospecting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business Prospecting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pardot_Campaign_Request</targetReference>
            </connector>
            <label>New Business Prospecting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Type_Audit</name>
        <label>Is Record Type Audit?</label>
        <locationX>545</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Select_Campaign_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Audit</defaultConnectorLabel>
        <rules>
            <name>Audit_Open</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>selectedRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Record_Types.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Operation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT Super User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audit_Screen</targetReference>
            </connector>
            <label>Audit (Open)</label>
        </rules>
    </decisions>
    <description>Includes audits, adds block screen and makes status &quot;Scheduled&quot;.</description>
    <dynamicChoiceSets>
        <name>AuditRecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Ops_Requests__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>selectedRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Campaign_Business_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Campaiign_Business_1__c</picklistField>
        <picklistObject>Sales_Ops_Requests__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Campaign_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Campaign_Type__c</picklistField>
        <picklistObject>Sales_Ops_Requests__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Coporate_Account_Implementation_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Corporate_Account_Implementation_Type__c</picklistField>
        <picklistObject>Sales_Ops_Requests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrencyCorporate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Currency__c</picklistField>
        <picklistObject>Sales_Ops_Requests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrencyNewBusiness</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Currency__c</picklistField>
        <picklistObject>Sales_Ops_Requests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrencyOthers</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Currency__c</picklistField>
        <picklistObject>Sales_Ops_Requests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Current_Owner_Primary_Service_Provider</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Owner_Primary_Service_Provider__c</picklistField>
        <picklistObject>Sales_Ops_Requests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DetailsChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status_Detail__c</picklistField>
        <picklistObject>Sales_Ops_Requests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FrequencyChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Frequency__c</picklistField>
        <picklistObject>Sales_Ops_Requests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PardotPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pardot_Campaign_Type__c</picklistField>
        <picklistObject>Sales_Ops_Requests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Ops_Requests__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Campaign Requests</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bulk Owner Change Request</stringValue>
            </value>
        </filters>
        <limit>2</limit>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>selectedRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Recordtypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Campaign_Type__c</picklistField>
        <picklistObject>Sales_Ops_Requests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Requested_Owner_Primary_Service_Provider</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Requested_Owner_Primary_Service_Provider__c</picklistField>
        <picklistObject>Sales_Ops_Requests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Campaign_Type__c</picklistField>
        <picklistObject>Sales_Ops_Requests__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTypeNew</name>
        <dataType>String</dataType>
        <displayField>Campaign_Type__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOpsRequestRecordID.Id</elementReference>
            </value>
        </filters>
        <object>Sales_Ops_Requests__c</object>
        <valueField>Campaign_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Salesforce_Obj_To_Load_Multipicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Objects_to__c</picklistField>
        <picklistObject>Sales_Ops_Requests__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Sales_Ops_Requests__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>UserProfileId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.ProfileId})</expression>
    </formulas>
    <interviewLabel>Sales Ops Requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Ops Requests</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Audit_Record</name>
        <label>Create Audit Record</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignRecordIdToReference>recordID</assignRecordIdToReference>
        <connector>
            <targetReference>Redirect_Audit</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign_Type__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaiign_Business_1__c</field>
            <value>
                <stringValue>CHES</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Audit_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency__c</field>
            <value>
                <elementReference>Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qty_of_Records_Impacted__c</field>
            <value>
                <elementReference>Qty_of_Records_Impacted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Sales_Ops_Requests__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_Ops_Request_Other</name>
        <label>Create Sales Ops Request Other</label>
        <locationX>1898</locationX>
        <locationY>1190</locationY>
        <assignRecordIdToReference>recordID</assignRecordIdToReference>
        <connector>
            <targetReference>Attachment_Others</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign_End_Date__c</field>
            <value>
                <elementReference>Campaign_End_dat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Name__c</field>
            <value>
                <elementReference>Campaign_Na</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Start_Date__c</field>
            <value>
                <elementReference>Campaign_Start_Da</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Summary__c</field>
            <value>
                <elementReference>Campaign_Summa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Type__c</field>
            <value>
                <elementReference>SalesOpsRequestObj.Campaign_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaiign_Business_1__c</field>
            <value>
                <elementReference>Campaign_Busine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>CurrencyOthers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Goals__c</field>
            <value>
                <elementReference>Revenue_Goalsss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Objects_to__c</field>
            <value>
                <elementReference>Salesforce_Objects_to_loa</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Ops_Requests__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_Ops_Requests_Corporate</name>
        <label>Create Sales Ops Requests_Corporate</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignRecordIdToReference>recordID</assignRecordIdToReference>
        <connector>
            <targetReference>AttachmentCorporat</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign_End_Date__c</field>
            <value>
                <elementReference>Campaign_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Name__c</field>
            <value>
                <elementReference>Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Start_Date__c</field>
            <value>
                <elementReference>Campaign_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Summary__c</field>
            <value>
                <elementReference>Campaign_Summ</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Type__c</field>
            <value>
                <elementReference>Campaign_Type_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaiign_Business_1__c</field>
            <value>
                <elementReference>Campaign_Business</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corporate_Account_Implementation_Type__c</field>
            <value>
                <elementReference>Corporate_Account_Implementation_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>CurrencyCorporate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Goals__c</field>
            <value>
                <elementReference>Revenue_Goals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Objects_to__c</field>
            <value>
                <elementReference>Salesforce_Objects_to_load</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Ops_Requests__c</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_Flip_All</name>
        <label>Insert Flip All</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignRecordIdToReference>SalesOpsRequestObj.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Redirect_Flip_All</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign_Type__c</field>
            <value>
                <elementReference>FlipAllAccountsNewHireTermination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaiign_Business_1__c</field>
            <value>
                <elementReference>SalesOpsRequestObj.Campaiign_Business_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Owner_Primary_Service_Provider__c</field>
            <value>
                <elementReference>Current_Owner_Primary_Service_Provider1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Owner__c</field>
            <value>
                <elementReference>SalesOpsRequestObj.New_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Accounts_Impacted__c</field>
            <value>
                <elementReference>SalesOpsRequestObj.Number_of_Accounts_Impacted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Owner__c</field>
            <value>
                <elementReference>SalesOpsRequestObj.Old_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Request__c</field>
            <value>
                <elementReference>Reason_For_Request1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SalesOpsRequestObj.RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Owner_Primary_Service_Provider__c</field>
            <value>
                <elementReference>Requested_Owner_Primary_Service_Provider1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Manager__c</field>
            <value>
                <elementReference>SalesOpsRequestObj.Sales_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Ops_Requests__c</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_Multiple_Account_Change</name>
        <label>Insert Multiple Account Change</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <assignRecordIdToReference>SalesOpsRequestObj.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Redirect_Multiple_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign_Type__c</field>
            <value>
                <elementReference>MultipleAccountChange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaiign_Business_1__c</field>
            <value>
                <elementReference>SalesOpsRequestObj.Campaiign_Business_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_of_Win_IDs__c</field>
            <value>
                <elementReference>List_Of_WIN_ID_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Accounts_Impacted__c</field>
            <value>
                <elementReference>SalesOpsRequestObj.Number_of_Accounts_Impacted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Owner__c</field>
            <value>
                <elementReference>Proposed_Owner_MU.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Request__c</field>
            <value>
                <elementReference>Reason_For_Request2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SalesOpsRequestObj.RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Owner_Primary_Service_Provider__c</field>
            <value>
                <elementReference>Requested_Owner_Primary_Service_Provider2</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Ops_Requests__c</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_Postal_Code_Change</name>
        <label>Insert Postal Code Change</label>
        <locationX>1106</locationX>
        <locationY>1082</locationY>
        <assignRecordIdToReference>SalesOpsRequestObj.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Redirect_Postal_Code_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign_Type__c</field>
            <value>
                <elementReference>PostalCodeReAssignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaiign_Business_1__c</field>
            <value>
                <elementReference>SalesOpsRequestObj.Campaiign_Business_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Owner__c</field>
            <value>
                <elementReference>Current_Owner_PO.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description_PO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Accounts_Impacted__c</field>
            <value>
                <elementReference>SalesOpsRequestObj.Number_of_Accounts_Impacted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Owner__c</field>
            <value>
                <elementReference>Proposed_Owner_PO.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Request__c</field>
            <value>
                <elementReference>Reason_For_Request_PO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SalesOpsRequestObj.RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Owner_Primary_Service_Provider__c</field>
            <value>
                <elementReference>Requested_Owner_Primary_Service_Provider_PO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Single_Zip_Code__c</field>
            <value>
                <elementReference>Single_Zip_Code.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Ops_Requests__c</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_Territory_Re_Alignment</name>
        <label>Insert Territory Re-Alignment</label>
        <locationX>1370</locationX>
        <locationY>1082</locationY>
        <assignRecordIdToReference>SalesOpsRequestObj.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Redirect_toTerritory_Re_Alignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Call_Date__c</field>
            <value>
                <elementReference>SalesOpsRequestObj.Call_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Type__c</field>
            <value>
                <elementReference>TerritoryReAlignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaiign_Business_1__c</field>
            <value>
                <elementReference>Business_Segment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description_TR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Accounts_Impacted__c</field>
            <value>
                <elementReference>SalesOpsRequestObj.Number_of_Accounts_Impacted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Request__c</field>
            <value>
                <elementReference>Reason_For_Request_TR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SalesOpsRequestObj.RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requestor__c</field>
            <value>
                <elementReference>Requestor.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Ops_Requests__c</object>
    </recordCreates>
    <recordCreates>
        <name>Sales_Ops_Request_Pardot</name>
        <label>Sales Ops Request Pardot</label>
        <locationX>1634</locationX>
        <locationY>1190</locationY>
        <assignRecordIdToReference>recordID</assignRecordIdToReference>
        <connector>
            <targetReference>Attachment_Pardot</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign_End_Date__c</field>
            <value>
                <elementReference>CampaignEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Name__c</field>
            <value>
                <elementReference>Campaign_Nam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Start_Date__c</field>
            <value>
                <elementReference>Campaign_Start_Dat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Summary__c</field>
            <value>
                <elementReference>Campaign_Summar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Type__c</field>
            <value>
                <elementReference>Campaign_Type_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaiign_Business_1__c</field>
            <value>
                <elementReference>Campaign_Busines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>CurrencyNewBusinesss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Goals__c</field>
            <value>
                <elementReference>Revenue_Goalss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Objects_to__c</field>
            <value>
                <elementReference>Salesforce_Objects_to_loa</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Ops_Requests__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Types</name>
        <label>Get Record Types</label>
        <locationX>545</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_Type_Audit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Ops_Requests__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Audit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Attachment_Others</name>
        <label>Attachment Others</label>
        <locationX>1898</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedirectOther</targetReference>
        </connector>
        <fields>
            <name>DisplayOtherUpload</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Upload Excel or CSV with &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;key detail&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;in appropriate &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;format (if any)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Attachments_Othhers</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Attachment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.xlsx, .xls, .CSV</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Attachment_Pardot</name>
        <label>Attachment Pardot</label>
        <locationX>1634</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedirectPardot</targetReference>
        </connector>
        <fields>
            <name>DisplayPardotUpload</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Upload Excel or CSV with &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;key detail&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;in appropriate &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;format (if any)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Attachments_Pardot</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Attachment </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.xlsx, .xls, .CSV</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AttachmentCorporat</name>
        <label>AttachmentCorporat</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RidirectCorporate</targetReference>
        </connector>
        <fields>
            <name>CorporateUploadDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Upload Excel or CSV with key detail&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;in appropriate &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;format (if any)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AttachmentCorporate</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Attachment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.xlsx, .xls, .CSV</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Audit_Screen</name>
        <label>Audit Screen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Audit_Record</targetReference>
        </connector>
        <fields>
            <name>Audit_Details</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Request Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Audit_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Audit_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Frequency</name>
                    <choiceReferences>FrequencyChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Frequency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Audit_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Qty_of_Records_Impacted</name>
                    <dataType>Number</dataType>
                    <fieldText>Qty. of Records Impacted</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Audit_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Audit_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Audit_Description</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Corporate_Account_Implementation_Typ</name>
        <label>Corporate Account Implementation Type</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Sales_Ops_Requests_Corporate</targetReference>
        </connector>
        <fields>
            <name>Corporate_Account_Implementation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Request Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Corporate_Account_Implementation_Typ_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Corporate_Account_Implementation_Typ_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Corporate_Account_Implementation_Type</name>
                    <choiceReferences>Coporate_Account_Implementation_Type</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Corporate Account Implementation Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Corporate_Account_Implementation_Typ_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Revenue_Goals</name>
                    <dataType>Number</dataType>
                    <fieldText>Revenue Goal</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Corporate_Account_Implementation_Typ_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Corporate_Account_Implementation_Typ_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Campaign Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Corporate_Account_Implementation_Typ_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Currency</name>
                    <choiceReferences>CurrencyCorporate</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>USD - U.S. Dollar</stringValue>
                    </defaultValue>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Corporate_Account_Implementation_Typ_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Corporate_Account_Implementation_Typ_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Campaign Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;There is an average 6-week turnaround for all Campaign Requests&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Corporate_Account_Implementation_Typ_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign_Business</name>
                    <choiceReferences>Campaign_Business_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Campaign Business</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Corporate_Account_Implementation_Typ_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Corporate_Account_Implementation_Typ_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Campaign End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Campaign End Date must be greater than Campaign Start Date&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Campaign_Start_Date}&lt;{!Campaign_End_Date}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Corporate_Account_Implementation_Typ_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Salesforce_Objects_to_load</name>
                    <choiceReferences>Salesforce_Obj_To_Load_Multipicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Salesforce Objects to load</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <helpText>&lt;p&gt;This is a multi-select picklist. Use ctr click to select multiple objects that will be loaded in this campaign&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Corporate_Account_Implementation_Typ_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Corporate_Account_Implementation_Typ_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign_Summ</name>
                    <fieldText>Campaign Summary</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Please include any instruction that should be shared with the field Sales Team&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flip_All_Accounts_Request_Type</name>
        <label>Flip All Accounts Request Type</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_Flip_All</targetReference>
        </connector>
        <fields>
            <name>Flip_Type</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Flip All Accounts Request Type&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Flip_All_Accounts_Request_Type_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flip_All_Accounts_Request_Type_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Request_Type_FlipAccounts</name>
                    <fieldText>&lt;p&gt;Request Type&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Request_Type_Value</name>
                    <fieldText>&lt;p&gt;{!FlipAllAccountsNewHireTermination}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flip_All_Accounts_Request_Type_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Flip_All_Accounts_Request_Type_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flip_All_Accounts_Request_Type_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SalesOpsRequestObj.Old_Owner__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flip_All_Accounts_Request_Type_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SalesOpsRequestObj.New_Owner__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Flip_All_Accounts_Request_Type_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flip_All_Accounts_Request_Type_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SalesOpsRequestObj.Sales_Manager__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Reason_For_Request1</name>
                    <choiceReferences>Termination</choiceReferences>
                    <choiceReferences>Backfill</choiceReferences>
                    <choiceReferences>Promotion_Replacement</choiceReferences>
                    <choiceReferences>OpenTerritory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason For Request</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flip_All_Accounts_Request_Type_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SalesOpsRequestObj.Campaiign_Business_1__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Description1</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Flip_All_Accounts_Request_Type_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flip_All_Accounts_Request_Type_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Current_Owner_Primary_Service_Provider1</name>
                    <choiceReferences>Current_Owner_Primary_Service_Provider</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Current Owner Primary Service Provider</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flip_All_Accounts_Request_Type_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Flip_All_Accounts_Request_Type_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flip_All_Accounts_Request_Type_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requested_Owner_Primary_Service_Provider1</name>
                    <choiceReferences>Requested_Owner_Primary_Service_Provider</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Requested Owner Primary Service Provider</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flip_All_Accounts_Request_Type_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>System_Information</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;System Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Flip_All_Accounts_Request_Type_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flip_All_Accounts_Request_Type_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SalesOpsRequestObj.Number_of_Accounts_Impacted__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Multiple_Owner_Change_SOR</name>
        <label>Multiple Owner Change SOR</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_Multiple_Account_Change</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Flip_Type</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Multiple Owner Changes SOR Request&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; Type&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Multiple_Owner_Change_SOR_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Multiple_Owner_Change_SOR_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Request_Type_MultipleAccount</name>
                    <fieldText>&lt;p&gt;Request Type&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Request_Type_Value_Multiple</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!MultipleAccountChange}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Multiple_Owner_Change_SOR_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Multiple_Owner_Change_SOR_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Multiple_Owner_Change_SOR_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Proposed_Owner_MU</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Proposed_Owner__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Proposed Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sales_Ops_Requests__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Reason_For_Request2</name>
                    <choiceReferences>CustomerRequest</choiceReferences>
                    <choiceReferences>AccountCleanUP</choiceReferences>
                    <choiceReferences>BookRebalance</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason For Request</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Multiple_Owner_Change_SOR_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requested_Owner_Primary_Service_Provider2</name>
                    <choiceReferences>Requested_Owner_Primary_Service_Provider</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Requested Owner Primary Service Provider</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SalesOpsRequestObj.Campaiign_Business_1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Multiple_Owner_Change_SOR_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Multiple_Owner_Change_SOR_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>List_Of_WIN_ID_s</name>
                    <fieldText>List of WIN IDs</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Multiple_Owner_Change_SOR_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description2</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_4_of_System_Information</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;System Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Multiple_Owner_Change_SOR_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Multiple_Owner_Change_SOR_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SalesOpsRequestObj.Number_of_Accounts_Impacted__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Campaign_Request</name>
        <label>Other Campaign Request</label>
        <locationX>1898</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Sales_Ops_Request_Other</targetReference>
        </connector>
        <fields>
            <name>Other_Campaign_Reques</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Request Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_Campaign_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Campaign_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign_Na</name>
                    <dataType>String</dataType>
                    <fieldText>Campaign Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Other_Campaign_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Revenue_Goalsss</name>
                    <dataType>Number</dataType>
                    <fieldText>Revenue Goal</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Other_Campaign_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Campaign_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign_Start_Da</name>
                    <dataType>Date</dataType>
                    <fieldText>Campaign Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;There is an average 6-week turnaround for all Campaign Requests&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Other_Campaign_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrencyOther</name>
                    <choiceReferences>CurrencyOthers</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Other_Campaign_Request_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Campaign_Request_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign_End_dat</name>
                    <dataType>Date</dataType>
                    <fieldText>Campaign End date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Campaign End Date must be greater than Campaign Start Date&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Campaign_Start_Da}&lt;
{!Campaign_End_dat}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Other_Campaign_Request_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign_Busine</name>
                    <choiceReferences>Campaign_Business_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Campaign Business</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Other_Campaign_Request_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Campaign_Request_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Salesforce_Objects_to_loa</name>
                    <choiceReferences>Salesforce_Obj_To_Load_Multipicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Salesforce Objects to load</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <helpText>&lt;p&gt;This is a multi-select picklist. USe ctr click to select multiple objects that will be loaded in this campaign&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Other_Campaign_Request_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Other_Campaign_Request_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Campaign_Request_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign_Summa</name>
                    <fieldText>Campaign Summary</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Please include any instruction that should be shared with the field Sales team&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pardot_Campaign_Request</name>
        <label>Pardot Campaign Request</label>
        <locationX>1634</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sales_Ops_Request_Pardot</targetReference>
        </connector>
        <fields>
            <name>PardotRequestDetials</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Request Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pardot_Campaign_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pardot_Campaign_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign_Nam</name>
                    <dataType>String</dataType>
                    <fieldText>Campaign Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pardot_Campaign_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Revenue_Goalss</name>
                    <dataType>Number</dataType>
                    <fieldText>Revenue Goal</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pardot_Campaign_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pardot_Campaign_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign_Start_Dat</name>
                    <dataType>Date</dataType>
                    <fieldText>Campaign Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;There is an average 6-week turnaround for all Campaign Requests&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pardot_Campaign_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrencyNewBusinesss</name>
                    <choiceReferences>CurrencyNewBusiness</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>USD - U.S. Dollar</stringValue>
                    </defaultValue>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pardot_Campaign_Request_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pardot_Campaign_Request_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CampaignEndDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Campaign End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Campaign End Date must be greater than Campaign Start Date&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Campaign_Start_Dat}&lt;{!CampaignEndDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pardot_Campaign_Request_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign_Busines</name>
                    <choiceReferences>Campaign_Business_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Campaign Business</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pardot_Campaign_Request_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pardot_Campaign_Request_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campaign_Summar</name>
                    <fieldText>Campaign Summary</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Please include any instruction that should be shared with the field Sales Team&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Postal_code_Reassignment_Request_Type</name>
        <label>Postal code Reassignment Request Type</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_Postal_Code_Change</targetReference>
        </connector>
        <fields>
            <name>PostalCodeChange</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Postal Code Change SOR Request Type&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Postal_code_Reassignment_Request_Type_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Postal_code_Reassignment_Request_Type_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Request_Type_PostalCode</name>
                    <fieldText>&lt;p&gt;Request Type&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Request_Type_Values_Postal</name>
                    <fieldText>&lt;p&gt;{!PostalCodeReAssignment}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Postal_code_Reassignment_Request_Type_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Postal_code_Reassignment_Request_Type_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Postal_code_Reassignment_Request_Type_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Current_Owner_PO</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Current_Owner__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Current Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sales_Ops_Requests__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Postal_code_Reassignment_Request_Type_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Proposed_Owner_PO</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Proposed_Owner__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Proposed Owner</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sales_Ops_Requests__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Postal_code_Reassignment_Request_Type_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Postal_code_Reassignment_Request_Type_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SalesOpsRequestObj.Campaiign_Business_1__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Postal_code_Reassignment_Request_Type_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requested_Owner_Primary_Service_Provider_PO</name>
                    <choiceReferences>Requested_Owner_Primary_Service_Provider</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Requested Owner Primary Service Provider</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Postal_code_Reassignment_Request_Type_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Postal_code_Reassignment_Request_Type_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_For_Request_PO</name>
                    <choiceReferences>CustomerRequest1</choiceReferences>
                    <choiceReferences>TerritoryAlignment</choiceReferences>
                    <choiceReferences>BrandReAssignment</choiceReferences>
                    <choiceReferences>AMSRCrossOver</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason For Request</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Postal_code_Reassignment_Request_Type_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Single_Zip_Code</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Single_Zip_Code__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Single Zip Code</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sales_Ops_Requests__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Postal_code_Reassignment_Request_Type_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Postal_code_Reassignment_Request_Type_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_PO</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Postal_code_Reassignment_Request_Type_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_System_Information</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;System Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Postal_code_Reassignment_Request_Type_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Postal_code_Reassignment_Request_Type_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SalesOpsRequestObj.Number_of_Accounts_Impacted__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_Type_Selection</name>
        <label>Record Type Selection</label>
        <locationX>677</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Record_Type_Selection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Record_Type_Selection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Record_Type</name>
                    <choiceReferences>RecordType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Record Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Type_Selection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Type_Selection1</name>
        <label>Record Type Selection</label>
        <locationX>413</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Record_Type_Selection1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Record_Type_Selection1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Record_Type1</name>
                    <choiceReferences>AuditRecordType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Record Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Type_Selection1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirect_Audit</name>
        <label>Redirect Audit</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Copy_1_of_Copy_1_of_Copy_1_of_RedirectPardots</name>
            <fieldText>&lt;p&gt;Click &lt;a href=&quot;/{!recordID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;to see the record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_Flip_All</name>
        <label>Redirect Flip All</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_RedirectPardots</name>
            <fieldText>&lt;p&gt;Click &lt;a href=&quot;/{!SalesOpsRequestObj.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here &lt;/a&gt;to see the record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_Multiple_Account</name>
        <label>Redirect Multiple Account</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_RedirectPardots</name>
            <fieldText>&lt;p&gt;Click &lt;a href=&quot;/{!SalesOpsRequestObj.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here &lt;/a&gt;to see the record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_Postal_Code_Change</name>
        <label>Redirect Postal Code Change</label>
        <locationX>1106</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_RedirectPardots</name>
            <fieldText>&lt;p&gt;Click &lt;a href=&quot;/{!SalesOpsRequestObj.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here &lt;/a&gt;to see the record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_toTerritory_Re_Alignment</name>
        <label>Redirect toTerritory Re-Alignment</label>
        <locationX>1370</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_RedirectPardots</name>
            <fieldText>&lt;p&gt;Click &lt;a href=&quot;/{!SalesOpsRequestObj.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here &lt;/a&gt;to see the record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RedirectOther</name>
        <label>RedirectOther</label>
        <locationX>1898</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RedirectOthers</name>
            <fieldText>&lt;p&gt;Click &lt;a href=&quot;/{!recordID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; to see the record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RedirectPardot</name>
        <label>RedirectPardot</label>
        <locationX>1634</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RedirectPardots</name>
            <fieldText>&lt;p&gt;Click &lt;a href=&quot;/{!recordID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here &lt;/a&gt;to see the record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RidirectCorporate</name>
        <label>RidirectCorporate</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RedirirectDisplayCorporate</name>
            <fieldText>&lt;p&gt;Click &lt;a href=&quot;/{!recordID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; to see the record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Campaign_Type</name>
        <label>Select Campaign Type</label>
        <locationX>1040</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConditionCorporateAccount</targetReference>
        </connector>
        <fields>
            <name>Select_Campaign_Type_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Campaign_Type_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SalesOpsRequestObj.Campaign_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Campaign_Type_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Territory_Re_Alignment_Request_Type</name>
        <label>Territory Re-Alignment Request Type</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_Territory_Re_Alignment</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_PostalCodeChange</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Territory Re-Alignment Request Type&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Territory_Re_Alignment_Request_Type_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Territory_Re_Alignment_Request_Type_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Request_Type_Territory</name>
                    <fieldText>&lt;p&gt;Request Type&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Request_Type_Values_Territory</name>
                    <fieldText>&lt;p&gt;{!TerritoryReAlignment}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Territory_Re_Alignment_Request_Type_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Territory_Re_Alignment_Request_Type_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Territory_Re_Alignment_Request_Type_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requestor</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Requestor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requestor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sales_Ops_Requests__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>$User.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Territory_Re_Alignment_Request_Type_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_For_Request_TR</name>
                    <choiceReferences>TerritoryConsolidation</choiceReferences>
                    <choiceReferences>TerritoryAddition</choiceReferences>
                    <choiceReferences>TerritoryShuffle</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason For Request</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Territory_Re_Alignment_Request_Type_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Territory_Re_Alignment_Request_Type_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_TR</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Territory_Re_Alignment_Request_Type_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Segment</name>
                    <choiceReferences>SKE</choiceReferences>
                    <choiceReferences>BPS</choiceReferences>
                    <choiceReferences>InsideSales</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Business Segment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Territory_Re_Alignment_Request_Type_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Territory_Re_Alignment_Request_Type_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SalesOpsRequestObj.Call_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Territory_Re_Alignment_Request_Type_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_System_Information</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;System Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Territory_Re_Alignment_Request_Type_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Territory_Re_Alignment_Request_Type_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SalesOpsRequestObj.Number_of_Accounts_Impacted__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Audit_permissions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PicklistVariable</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesOpsRequestObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Ops_Requests__c</objectType>
    </variables>
    <variables>
        <name>SalesOpsRequestRecordID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Ops_Requests__c</objectType>
    </variables>
    <variables>
        <name>selectedRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
