force-app/main/default/flows/SalesOps_Requests_Update_the_Business_Partner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_the_Business_segment</name>
        <label>Check the Business segment</label>
        <locationX>842</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_segment_equal_to_SKO_Facility_Broker</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaiign_Business_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SKO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaiign_Business_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facilities/Brokers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_BusinessPartner</targetReference>
            </connector>
            <label>Business segment equal to SKO/Facility Broker</label>
        </rules>
        <rules>
            <name>Business_Sgement_equal_to_SKE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaiign_Business_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SKE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_BusinessPartner_SKE</targetReference>
            </connector>
            <label>Business Sgement equal to SKE</label>
        </rules>
        <rules>
            <name>Business_Segment_equal_to_CHES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaiign_Business_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_BusinessPartner_CHES</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Business Segment equal to CHES</label>
        </rules>
        <rules>
            <name>Business_Segment_equal_to_IS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaiign_Business_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_BusinessPartner_IS</targetReference>
            </connector>
            <label>Business Segment equal to IS</label>
        </rules>
        <rules>
            <name>Business_Segment_equal_to_Inside_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaiign_Business_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_BusinessPartner_Inside_Sales</targetReference>
            </connector>
            <label>Business Segment equal to Inside Sales</label>
        </rules>
        <rules>
            <name>Business_Segment_equal_to_BPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaiign_Business_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_BusinessPartner_BPS</targetReference>
            </connector>
            <label>Business Segment equal to BPS</label>
        </rules>
    </decisions>
    <description>This flow is used to update the Business Partner field on Sales Ops Request record.</description>
    <environments>Default</environments>
    <interviewLabel>SalesOps Requests - Update the Business Partner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SalesOps Requests - Update the Business Partner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_the_BusinessPartner</name>
        <label>Update the BusinessPartner</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Business_Partner__c</field>
            <value>
                <elementReference>SKOBusinessPartner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_BusinessPartner_BPS</name>
        <label>Update the BusinessPartner BPS</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Business_Partner__c</field>
            <value>
                <elementReference>BPSBusinessPartner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_BusinessPartner_CHES</name>
        <label>Update the BusinessPartner CHES</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Business_Partner__c</field>
            <value>
                <elementReference>CHESBusinessPartner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_BusinessPartner_Inside_Sales</name>
        <label>Update the BusinessPartner Inside Sales</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Business_Partner__c</field>
            <value>
                <elementReference>InsideSalesBusinessPartner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_BusinessPartner_IS</name>
        <label>Update the BusinessPartner IS</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Business_Partner__c</field>
            <value>
                <elementReference>ISBusinessPartner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_BusinessPartner_SKE</name>
        <label>Update the BusinessPartner SKE</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Business_Partner__c</field>
            <value>
                <elementReference>SKEBusinessPartner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Business_segment</targetReference>
        </connector>
        <filterFormula>AND(
    {!$Record.RecordType.Name} = &apos;Bulk Owner Change Request&apos;,
    NOT(ISBLANK(TEXT({!$Record.Campaiign_Business_1__c})))
)</filterFormula>
        <object>Sales_Ops_Requests__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BPSBusinessPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0054Q00000GfZCDQA3</stringValue>
        </value>
    </variables>
    <variables>
        <name>CHESBusinessPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005j000000EbsfFAAR</stringValue>
        </value>
    </variables>
    <variables>
        <name>InsideSalesBusinessPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0050c00000EOzr5AAD</stringValue>
        </value>
    </variables>
    <variables>
        <name>ISBusinessPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0054Q00000G8mb8QAB</stringValue>
        </value>
    </variables>
    <variables>
        <name>SKEBusinessPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>005j000000EbsfFAAR</stringValue>
        </value>
    </variables>
    <variables>
        <name>SKOBusinessPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0054Q00000FQQWVQA5</stringValue>
        </value>
    </variables>
</Flow>
