force-app/main/default/flows/Sales_Ops_Request_Populate_Proposed_Owners.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_if_Case_Approver_is_populated_on_proposed_owner</name>
        <label>Check if Case Approver is populated on proposed owner</label>
        <locationX>512</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update_Proposed_Owner_s_Case_Approver_field_As_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Approver_is_populated_on_proposed_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Proposed_Owner__r.Case_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Proposed_Owner_s_Case_Approver_field</targetReference>
            </connector>
            <label>Case Approver is populated on proposed owner</label>
        </rules>
        <rules>
            <name>Check_Sales_Managers_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Sales_Manger_s_Manager</targetReference>
            </connector>
            <label>Check Sales Managers&apos; Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Proposed_Case_Approver_Manger_is_populated</name>
        <label>Check Proposed Case Approver  Manger is populated</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Update_the_Case_Approver_s_Manager_As_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proposed_Case_Approver_Manger_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Proposed_Owner__r.Case_Approver__r.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Case_Approver_s_Manager_Field</targetReference>
            </connector>
            <label>Proposed Case Approver  Manger is populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sales Ops Request Populate Proposed Owners {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Ops Request Populate Proposed Owners</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Proposed_Owner_s_Case_Approver_field</name>
        <label>Update Proposed Owner&apos;s Case Approver field</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Check_Proposed_Case_Approver_Manger_is_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Proposed_Owner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Proposed_Owner_s_Case_Approver__c</field>
            <value>
                <elementReference>$Record.Proposed_Owner__r.Case_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Proposed_Owner_s_Case_Approver_field_As_NULL</name>
        <label>Update Proposed Owner&apos;s Case Approver field As NULL</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Update_the_Case_Approver_s_Manager_As_NULL_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Proposed_Owner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Proposed_Owner_s_Case_Approver__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Case_Approver_s_Manager_As_NULL</name>
        <label>Update the Case Approver&apos;s Manager As NULL</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Case_Approver_s_Manager__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Case_Approver_s_Manager_As_NULL_1</name>
        <label>Update the Case Approver&apos;s Manager As NULL</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Case_Approver_s_Manager__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Case_Approver_s_Manager_Field</name>
        <label>Update the Case Approver&apos;s Manager Field</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Case_Approver_s_Manager__c</field>
            <value>
                <elementReference>$Record.Proposed_Owner__r.Case_Approver__r.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Sales_Manger_s_Manager</name>
        <label>Update the Sales Manger&apos;s Manager</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Manager__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Manager_s_Manager__c</field>
            <value>
                <elementReference>$Record.Sales_Manager__r.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Case_Approver_is_populated_on_proposed_owner</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Proposed_Owner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Manager__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Sales_Ops_Requests__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProposedOwnersColectionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Ops_Requests__c</objectType>
    </variables>
    <variables>
        <name>ProposedOwnersList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
