force-app/main/default/flows/Top_Accounts_By_Location.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Top_Accounts_By_Location</name>
        <label>Get Top Accounts By Location</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <actionName>TopAccounts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Wrapper_Object</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accounts</name>
            <value>
                <elementReference>LoopCorpAccounts</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CAMWrapper</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Metadata_to_Collection</name>
        <label>Add Metadata to Collection</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CAMCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Metadata</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Wrapper_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearCAMMetadat</name>
        <label>ClearCAMMetadat</label>
        <locationX>754</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>CAMCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LoopCorpAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Metadata_Record</name>
        <label>Create Metadata Record</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Metadata.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Wrapper_Object.amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Metadata.ShippingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Wrapper_Object.shippingCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Metadata_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Users_Have_Corp_Accounts</name>
        <label>Does Users Have Corp Accounts?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>LoopCorpAccounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Corp Accounts</defaultConnectorLabel>
        <rules>
            <name>No_Corp_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Corp_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Accounts_Screen</targetReference>
            </connector>
            <label>No Corp Accounts</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Top Accounts By Location {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMP: My Top 10 Accounts</label>
    <loops>
        <name>Loop_Wrapper_Object</name>
        <label>Loop Wrapper Object</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <collectionReference>CAMWrapper</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Metadata_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Top10Accounts1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCorpAccounts</name>
        <label>LoopCorpAccounts</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Corp_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Top_Accounts_By_Location</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Corp_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Corp_Accounts</name>
        <label>Get Corp OR KEY  Accounts</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Users_Have_Corp_Accounts</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Corp_and_Key_Account_Record_Types.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Running_User_is_CAM_Dual_CAM_or_CASR__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Corp_and_Key_Account_Record_Types</name>
        <label>Get Corp and Key Account Record Types</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Corp_Accounts</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Key Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>No_Accounts_Screen</name>
        <label>No Accounts Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoAccountsText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The current running user does not own any Corporate or Key accounts.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If you believe you have reached this screen in error, please submit a ServiceNow ticket, Category: CRM (Salesforce) / Subcategory: Report Question or Issue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Top10Accounts1</name>
        <label>Top10Accounts</label>
        <locationX>754</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ClearCAMMetadat</targetReference>
        </connector>
        <fields>
            <name>TopAccountsdisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!LoopCorpAccounts.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Top 10, Current Year Customer Revenue by City&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TopAccountsDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>CAM_Metadata__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CAMCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;ShippingCity__c&quot;,&quot;guid&quot;:&quot;column-b6b4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;ShippingCity&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-901e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Corp_and_Key_Account_Record_Types</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CAMCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CAM_Metadata__mdt</objectType>
    </variables>
    <variables>
        <name>CAMWrapper</name>
        <apexClass>WrapperForCAM</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Metadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CAM_Metadata__mdt</objectType>
    </variables>
    <variables>
        <name>WrapperForCAM</name>
        <apexClass>WrapperForCAM</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
