force-app/main/default/flows/Update_Old_Or_Expired_Contracts_Account_Flag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Active_Contract_Exists_on_Level1_Account</name>
        <label>Active Contract Exists on Level1 Account</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>updateAccountFlagFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Active_Contract_Exists_on_Level1_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedContract.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_The_Child_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>if Active Contract Exists on Level1 Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_Active_Contract_exists_on_Child_accounts</name>
        <label>check if Active Contract exists on Child accounts</label>
        <locationX>365</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>update_Corp_or_Key_AccountFlag_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Exists_Level3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Level3_Child_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>if Exists Level3</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_If_Level_2_Account_is_Not_Null</name>
        <label>check If Level 2 Account is Not Null</label>
        <locationX>646</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Level2_Parent_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountRecordID.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Level_2_Contract</targetReference>
            </connector>
            <label>if Level2 Parent exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_If_Level_3_Account_is_Not_Null</name>
        <label>check If Level 3 Account is Not Null</label>
        <locationX>563</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Level3_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountRecordID.Parent.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Level3_Child_Account</targetReference>
            </connector>
            <label>if Level3 exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfActiveContractLevel2</name>
        <label>checkIfActiveContractLevel2</label>
        <locationX>266</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>update_Level2_AccountFlag_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifExists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Level_2_Contract.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Child_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>ifExists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Old or Expired Contract&apos;s Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Old or Expired Contract&apos;s Account Flag</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Child_Account</name>
        <label>get Child Account</label>
        <locationX>266</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIfActiveContractLevel2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountRecordID.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_ER_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Level3_Child_Account</name>
        <label>get Level3 Child Account</label>
        <locationX>365</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_Active_Contract_exists_on_Child_accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountRecordID.Parent.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_ER_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Level_2_Contract</name>
        <label>get Level 2 Contract</label>
        <locationX>266</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Child_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountRecordID.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Job_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ER</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_The_Child_Account</name>
        <label>get The Child Account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountRecordID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_ER_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountRecordID</name>
        <label>getAccountRecordID</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_The_Child_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedContract</name>
        <label>getRelatedContract</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Contract_Exists_on_Level1_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountRecordID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Job_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ER</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>DeletedContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Corp_or_Key_AccountFlag_False</name>
        <label>update Corp or Key AccountFlag False</label>
        <locationX>497</locationX>
        <locationY>1538</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountRecordID.Parent.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_ER_Contract__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Level2_AccountFlag_False</name>
        <label>update Level2 AccountFlag False</label>
        <locationX>563</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>check_If_Level_3_Account_is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountRecordID.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_ER_Contract__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateAccountFlagFalse</name>
        <label>updateAccountFlagFalse</label>
        <locationX>646</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>check_If_Level_2_Account_is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountRecordID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_ER_Contract__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountRecordID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeletedContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
