force-app/main/default/flows/Update_Validation_user_and_date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Update_Last_Modified_Time</name>
        <label>Update Last Modified Time</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>lastModifiedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CMD_Profile_validates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CMD_Profile_validates</name>
        <label>CMD Profile validates</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_Beacon_Checked</name>
            <conditionLogic>NOT(1)  AND 2 AND 3 AND 4 AND 5 AND ( 6 OR 7 )</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Integrationuser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Customer_validated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Customer_Validated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.New_Customer_validated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Existing_Customer_Validated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WIN_Validated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Win_Validate_New__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Validation_user</targetReference>
            </connector>
            <label>Pending Beacon Checked</label>
        </rules>
        <rules>
            <name>Validation_flagged_No_WinId</name>
            <conditionLogic>NOT(1) AND ( 2 OR 3 OR 4 OR 5 ) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Integrationuser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Chain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WIN_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Customer_validated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_last_requested_by_c</targetReference>
            </connector>
            <label>Validation flagged - No WinId</label>
        </rules>
        <rules>
            <name>Validation_flagged_w_WinId</name>
            <conditionLogic>NOT(1) AND ( 2 OR 3 OR 4 OR 5 OR 6 OR 7 ) AND 8 AND 9</conditionLogic>
            <conditions>
				<leftValueReference>$User.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Integrationuser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Location</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker Location</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributor Location</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WIN_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Existing_Customer_Validated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_last_requested_date_c</targetReference>
            </connector>
            <label>Validation flagged - w/ WinId</label>
        </rules>
        <rules>
            <name>Validation_flagged_No_WinId_Location_Accounts</name>
            <conditionLogic>NOT(1) AND ( 2 OR 3 OR 4 ) AND 5 AND ( 6 OR 7 )</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Integrationuser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Location</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker Location</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributor Location</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WIN_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WIN_Validated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Win_Validate_New__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_last_requested_date_c12</targetReference>
            </connector>
            <label>Validation flagged No WinId - Location Accounts</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Validation user and date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Validation user and date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Validation_user</name>
        <label>Set Validation user</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Validation_last_requested_by__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validation_last_requested_date__c</field>
            <value>
                <elementReference>lastModifiedTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Validation_last_requested_by_c</name>
        <label>Validation_last_requested_by__c</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Validation_last_requested_by__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validation_last_requested_date__c</field>
            <value>
                <elementReference>lastModifiedTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Validation_last_requested_date_c</name>
        <label>Validation_last_requested_date__c</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Validation_last_requested_by__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validation_last_requested_date__c</field>
            <value>
                <elementReference>lastModifiedTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Validation_last_requested_date_c12</name>
        <label>Validation_last_requested_date__c</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Validation_last_requested_by__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validation_last_requested_date__c</field>
            <value>
                <elementReference>lastModifiedTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Last_Modified_Time</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>lastModifiedTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
