force-app/main/default/flows/Update_EPA_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls> 
        <name>Update_EPA_Id1</name>
        <label>Update EPA Id</label>
        <locationX>308</locationX>
        <locationY>674</locationY>
        <actionName>EPAIdUpdateController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkForErrors</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accId</name>
            <value>
                <elementReference>getAccountRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>epaIDValue</name>
            <value>
                <elementReference>New_EPA_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stateEpaIDValue</name>
            <value>
                <elementReference>New_State_EPA_ID</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ProcMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ProcMessageCode</assignToReference>
            <name>messageCode</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_EPA_Id2</name>
        <label>Update EPA Id</label>
        <locationX>1100</locationX>
        <locationY>674</locationY>
        <actionName>EPAIdUpdateController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkForErrors2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accId</name>
            <value>
                <elementReference>getAccountRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>epaIDValue</name>
            <value>
                <elementReference>New_EPA_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stateEpaIDValue</name>
            <value>
                <elementReference>getAccountRecord.State_EPA_ID__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ProcMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ProcMessageCode</assignToReference>
            <name>messageCode</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>check_EPAID</name>
        <label>check EPAID</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>checkifStateEPAIDNotBlank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EPA_Length_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkNewEPAIDLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Change_EPA_ID</targetReference>
            </connector>
            <label>EPA Length &gt; 16</label>
        </rules>
        <rules>
            <name>bothStateAndEPAIDNotChanged</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>getAccountRecord.CS_EPA_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_EPA_ID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountRecord.State_EPA_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_State_EPA_ID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountRecord.CS_EPA_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_EPA_ID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkNewStateEPAIdisBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Change_EPA_ID</targetReference>
            </connector>
            <label>bothStateAndEPAIDNotChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForErrors</name>
        <label>checkForErrors</label>
        <locationX>308</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>updateAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifErrorExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcMessageCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Change_EPA_ID</targetReference>
            </connector>
            <label>ifErrorExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForErrors2</name>
        <label>checkForErrors</label>
        <locationX>1100</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>updateAccount1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifErrorExists1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcMessageCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Change_EPA_ID</targetReference>
            </connector>
            <label>ifErrorExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkifStateEPAIDNotBlank</name>
        <label>checkifStateEPAIDNotBlank</label>
        <locationX>704</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_EPA_Id2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifStateEPANotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkNewStateEPAIdisBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_EPA_Id1</targetReference>
            </connector>
            <label>ifStateEPANotBlank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckEPAIdEqualandNewStateEPAisBlank</name>
        <dataType>Boolean</dataType>
        <expression>AND (
{!getAccountRecord.CS_EPA_ID__c} = {!New_EPA_ID} ,
{!checkNewStateEPAIdisBlank} = TRUE
)</expression>
    </formulas>
    <formulas>
        <name>checkifbothNotChanged</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!getAccountRecord.CS_EPA_ID__c} = {!New_EPA_ID},
{!getAccountRecord.State_EPA_ID__c} = {!New_State_EPA_ID}
)</expression>
    </formulas>
    <formulas>
        <name>checkNewEPAIDLength</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!New_EPA_ID}) &gt; 15</expression>
    </formulas>
    <formulas>
        <name>checkNewStateEPAIdisBlank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!New_State_EPA_ID})</expression>
    </formulas>
    <formulas>
        <name>checkNewStateEPAIDLength</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!New_State_EPA_ID}) &gt; 15</expression>
    </formulas>
    <formulas>
        <name>UpperNewStateEPAID</name>
        <dataType>String</dataType>
        <expression>UPPER({!New_State_EPA_ID})</expression>
    </formulas>
    <interviewLabel>Update EPA ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update EPA ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccountRecord</name>
        <label>getAccountRecord</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateToggleFlag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>440</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>EPA_ID_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>accountValidationErrorsAfter</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_EPA_ID__c</field>
            <value>
                <elementReference>New_EPA_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_EPA_ID__c</field>
            <value>
                <elementReference>UpperNewStateEPAID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Toggle_Me_to_Bypass_Validation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateAccount1</name>
        <label>updateAccount</label>
        <locationX>1232</locationX>
        <locationY>890</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>EPA_ID_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_accountValidationErrorsAfter</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_EPA_ID__c</field>
            <value>
                <elementReference>New_EPA_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Toggle_Me_to_Bypass_Validation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateToggleFlag</name>
        <label>updateToggleFlag</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Change_EPA_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>accountValidationErrors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Toggle_Me_to_Bypass_Validation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>accountValidationErrors</name>
        <label>accountValidationErrors</label>
        <locationX>1760</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>accountValidationErrorDeatils</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: serif; color: rgb(215, 25, 25);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>accountValidationErrorsAfter</name>
        <label>accountValidationErrorsAfter</label>
        <locationX>704</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>accountUpdateValidations1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: serif; color: rgb(215, 25, 25);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Change_EPA_ID</name>
        <label>Change EPA ID</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_EPAID</targetReference>
        </connector>
        <fields>
            <name>ProcErrors</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 21, 21);&quot;&gt;{!ProcMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProcMessageCode</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>0</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>checkifbothNotChanged</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CheckEPAIdEqualandNewStateEPAisBlank</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>StateProcText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 14, 14);&quot;&gt;{!StateProcError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProcMessageCode</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>0</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>checkifbothNotChanged</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CheckEPAIdEqualandNewStateEPAisBlank</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>validateOldNewValuesSame</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 37, 37); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif;&quot;&gt;No changes detected on EPA ID and State EPA ID. Current and New values are same&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkifbothNotChanged</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CheckEPAIdEqualandNewStateEPAisBlank</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>New_State_EPA_ID</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>validateOldNewValuesSameforEPA</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; color: rgb(234, 37, 37);&quot;&gt;No changes detected on EPA ID. Current and New values are same&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CheckEPAIdEqualandNewStateEPAisBlank</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>validateEPAIDLength</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(251, 18, 18);&quot;&gt;EPA ID length Should not be more that 15 characters&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkNewEPAIDLength</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Change_EPA_ID_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Change_EPA_ID_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Generator_Status</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Generator Status&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_EPA_ID_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Generator_Status_Value</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!getAccountRecord.Generator_Status__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_EPA_ID_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_EPA_ID_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Change_EPA_ID_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Change_EPA_ID_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Current_EPA_ID</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Current EPA ID &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt; : &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_EPA_ID_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Current_EPA_ID_Value</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!getAccountRecord.CS_EPA_ID__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_EPA_ID_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Current_State_EPA_ID</name>
                    <fieldText>&lt;p&gt;Current State EPA ID:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_EPA_ID_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Current_State_EPA_ID_Value</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!getAccountRecord.State_EPA_ID__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Change_EPA_ID_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Change_EPA_ID_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_EPA_ID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>New_EPA_ID</elementReference>
                    </defaultValue>
                    <fieldText>New EPA ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Change_EPA_ID_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_State_EPA_ID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>New_State_EPA_ID</elementReference>
                    </defaultValue>
                    <fieldText>New State EPA ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_accountValidationErrorsAfter</name>
        <label>accountValidationErrorsAfter</label>
        <locationX>1496</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_accountUpdateValidations1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: serif; color: rgb(215, 25, 25);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EPA_ID_Success_Screen</name>
        <label>EPA ID Success Screen</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayProcSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(41, 35, 234); font-family: serif; font-size: 14px;&quot;&gt;{!ProcMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProcMessageCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>0</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProcMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcMessageCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StateProcError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>   
